In [1]:
#!pip install folium
#!pip install xgboost
#!pip install lightgbm
#!pip install tensorflow

In [2]:
import pandas as pd
from glob import glob
from tqdm.notebook import tqdm
from sklearn import preprocessing
import requests
from bs4 import BeautifulSoup

In [3]:
# 그래프를 출력할 때 한글 글씨체 사용
from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

# 지역별 가로등 개수

### 경기도 가로등 개수

In [4]:
Gyeonggi_lamp = pd.read_csv('./경기_가로등현황.csv', encoding='euc-kr')
Gyeonggi_lamp2 = Gyeonggi_lamp
Gyeonggi_lamp2

,시군명,나트륨(100W미만)(개소),나트륨(100~200W)(개소),나트륨(201~300W)(개소),나트륨(301~400W)(개소),메탈(100W미만)(개소),메탈(100~150W)(개소),메탈(151~300W)(개소),메탈(301~400W)(개소),LED(50W미만)(개소),LED(50~100W)(개소),LED(101~120W)(개소),LED(121~150W)(개소),LED(151W이상)(개소),기타
0,가평군,NaN,8.0,NaN,NaN,6421.0,NaN,NaN,NaN,2505.0,2100,NaN,NaN,NaN,NaN
1,고양시,NaN,329.0,3821.0,0.0,NaN,5812.0,16627.0,NaN,NaN,1319,NaN,7479.0,NaN,NaN
2,광명시,NaN,18.0,1869.0,NaN,NaN,NaN,10.0,NaN,66.0,1009,322.0,1319.0,146.0,226
3,광주시,NaN,0.0,0.0,0.0,NaN,6830.0,0.0,0.0,0.0,337,0.0,94.0,NaN,NaN
4,구리시,NaN,163.0,290.0,280.0,NaN,53.0,63.0,33.0,0.0,1070,0.0,3875.0,NaN,NaN
5,군포시,66.0,286.0,536.0,NaN,339.0,331.0,166.0,NaN,1227.0,1306,NaN,17.0,47.0,NaN
6,김포시,NaN,36.0,2239.0,3417.0,NaN,7560.0,2358.0,30.0,0.0,66,101.0,64.0,NaN,NaN
7,남양주시,NaN,0.0,10323.0,0.0,NaN,578.0,3397.0,1630.0,0.0,0,834.0,879.0,NaN,NaN
8,부천시,0.0,2734.0,4340.0,0.0,0.0,4465.0,3222.0,0.0,0.0,3722,0.0,1956.0,0.0,0
9,성남시,NaN,417.0,13034.0,1090.0,NaN,4065.0,849.0,0.0,0.0,179,106.0,68.0,NaN,NaN
10,수원시,380.0,892.0,1847.0,81.0,1908.0,4962.0,6495.0,1206.0,104.0,5497,2883.0,5711.0,126.0,"1,267"
11,시흥시,NaN,271.0,2316.0,2.0,1542.0,4320.0,2898.0,912.0,NaN,12504,5745.0,3836.0,288.0,17
12,안산시,NaN,1228.0,9022.0,0.0,NaN,1485.0,686.0,0.0,0.0,652,498.0,328.0,NaN,NaN
13,안양시,0.0,0.0,40.0,0.0,113.0,27.0,0.0,0.0,162.0,2914,5108.0,5108.0,0.0,NaN
14,양주시,NaN,0.0,6053.0,336.0,63.0,2950.0,2501.0,0.0,2876.0,831,1201.0,0.0,NaN,NaN
15,양평군,1.0,34.0,4.0,0.0,NaN,NaN,132.0,NaN,920.0,1498,88.0,NaN,9.0,264
16,여주시,NaN,13.0,108.0,NaN,NaN,59.0,1049.0,130.0,NaN,189,5.0,3103.0,NaN,NaN
17,연천군,NaN,97.0,365.0,NaN,222.0,1249.0,245.0,NaN,NaN,2687,159.0,261.0,NaN,NaN
18,용인시,NaN,946.0,16256.0,0.0,NaN,6963.0,1517.0,0.0,0.0,480,41.0,462.0,NaN,NaN
19,의왕시,NaN,0.0,1639.0,322.0,NaN,2133.0,686.0,36.0,0.0,175,0.0,470.0,NaN,NaN
20,의정부시,NaN,239.0,NaN,NaN,NaN,9026.0,85.0,NaN,NaN,1007,NaN,2011.0,NaN,NaN
21,이천시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,590,3446.0,243.0,NaN,NaN
22,파주시,NaN,0.0,1700.0,13202.0,NaN,1300.0,6580.0,0.0,0.0,0,111.0,295.0,NaN,NaN
23,평택시,NaN,0.0,8518.0,0.0,NaN,12358.0,0.0,0.0,0.0,0,1012.0,0.0,NaN,NaN
24,포천시,NaN,82.0,8120.0,68.0,NaN,1800.0,0.0,0.0,0.0,0,0.0,54.0,NaN,NaN
25,하남시,NaN,79.0,1770.0,22.0,539.0,389.0,1347.0,1.0,1193.0,1996,26.0,1260.0,16.0,NaN

In [5]:
# 결측값 처리
Gyeonggi_lamp2 = Gyeonggi_lamp2.fillna(0)
Gyeonggi_lamp2

,시군명,나트륨(100W미만)(개소),나트륨(100~200W)(개소),나트륨(201~300W)(개소),나트륨(301~400W)(개소),메탈(100W미만)(개소),메탈(100~150W)(개소),메탈(151~300W)(개소),메탈(301~400W)(개소),LED(50W미만)(개소),LED(50~100W)(개소),LED(101~120W)(개소),LED(121~150W)(개소),LED(151W이상)(개소),기타
0,가평군,0.0,8.0,0.0,0.0,6421.0,0.0,0.0,0.0,2505.0,2100,0.0,0.0,0.0,0
1,고양시,0.0,329.0,3821.0,0.0,0.0,5812.0,16627.0,0.0,0.0,1319,0.0,7479.0,0.0,0
2,광명시,0.0,18.0,1869.0,0.0,0.0,0.0,10.0,0.0,66.0,1009,322.0,1319.0,146.0,226
3,광주시,0.0,0.0,0.0,0.0,0.0,6830.0,0.0,0.0,0.0,337,0.0,94.0,0.0,0
4,구리시,0.0,163.0,290.0,280.0,0.0,53.0,63.0,33.0,0.0,1070,0.0,3875.0,0.0,0
5,군포시,66.0,286.0,536.0,0.0,339.0,331.0,166.0,0.0,1227.0,1306,0.0,17.0,47.0,0
6,김포시,0.0,36.0,2239.0,3417.0,0.0,7560.0,2358.0,30.0,0.0,66,101.0,64.0,0.0,0
7,남양주시,0.0,0.0,10323.0,0.0,0.0,578.0,3397.0,1630.0,0.0,0,834.0,879.0,0.0,0
8,부천시,0.0,2734.0,4340.0,0.0,0.0,4465.0,3222.0,0.0,0.0,3722,0.0,1956.0,0.0,0
9,성남시,0.0,417.0,13034.0,1090.0,0.0,4065.0,849.0,0.0,0.0,179,106.0,68.0,0.0,0
10,수원시,380.0,892.0,1847.0,81.0,1908.0,4962.0,6495.0,1206.0,104.0,5497,2883.0,5711.0,126.0,"1,267"
11,시흥시,0.0,271.0,2316.0,2.0,1542.0,4320.0,2898.0,912.0,0.0,12504,5745.0,3836.0,288.0,17
12,안산시,0.0,1228.0,9022.0,0.0,0.0,1485.0,686.0,0.0,0.0,652,498.0,328.0,0.0,0
13,안양시,0.0,0.0,40.0,0.0,113.0,27.0,0.0,0.0,162.0,2914,5108.0,5108.0,0.0,0
14,양주시,0.0,0.0,6053.0,336.0,63.0,2950.0,2501.0,0.0,2876.0,831,1201.0,0.0,0.0,0
15,양평군,1.0,34.0,4.0,0.0,0.0,0.0,132.0,0.0,920.0,1498,88.0,0.0,9.0,264
16,여주시,0.0,13.0,108.0,0.0,0.0,59.0,1049.0,130.0,0.0,189,5.0,3103.0,0.0,0
17,연천군,0.0,97.0,365.0,0.0,222.0,1249.0,245.0,0.0,0.0,2687,159.0,261.0,0.0,0
18,용인시,0.0,946.0,16256.0,0.0,0.0,6963.0,1517.0,0.0,0.0,480,41.0,462.0,0.0,0
19,의왕시,0.0,0.0,1639.0,322.0,0.0,2133.0,686.0,36.0,0.0,175,0.0,470.0,0.0,0
20,의정부시,0.0,239.0,0.0,0.0,0.0,9026.0,85.0,0.0,0.0,1007,0.0,2011.0,0.0,0
21,이천시,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,590,3446.0,243.0,0.0,0
22,파주시,0.0,0.0,1700.0,13202.0,0.0,1300.0,6580.0,0.0,0.0,0,111.0,295.0,0.0,0
23,평택시,0.0,0.0,8518.0,0.0,0.0,12358.0,0.0,0.0,0.0,0,1012.0,0.0,0.0,0
24,포천시,0.0,82.0,8120.0,68.0,0.0,1800.0,0.0,0.0,0.0,0,0.0,54.0,0.0,0
25,하남시,0.0,79.0,1770.0,22.0,539.0,389.0,1347.0,1.0,1193.0,1996,26.0,1260.0,16.0,0

In [6]:
# 기타 컬럼의 ","을 제거한 후 float형으로 바꿈
Gyeonggi_lamp2['기타'] = Gyeonggi_lamp2['기타'].str.replace(",","")
Gyeonggi_lamp2['기타'] = Gyeonggi_lamp2['기타'].astype(float)
Gyeonggi_lamp2

,시군명,나트륨(100W미만)(개소),나트륨(100~200W)(개소),나트륨(201~300W)(개소),나트륨(301~400W)(개소),메탈(100W미만)(개소),메탈(100~150W)(개소),메탈(151~300W)(개소),메탈(301~400W)(개소),LED(50W미만)(개소),LED(50~100W)(개소),LED(101~120W)(개소),LED(121~150W)(개소),LED(151W이상)(개소),기타
0,가평군,0.0,8.0,0.0,0.0,6421.0,0.0,0.0,0.0,2505.0,2100,0.0,0.0,0.0,NaN
1,고양시,0.0,329.0,3821.0,0.0,0.0,5812.0,16627.0,0.0,0.0,1319,0.0,7479.0,0.0,NaN
2,광명시,0.0,18.0,1869.0,0.0,0.0,0.0,10.0,0.0,66.0,1009,322.0,1319.0,146.0,226.0
3,광주시,0.0,0.0,0.0,0.0,0.0,6830.0,0.0,0.0,0.0,337,0.0,94.0,0.0,NaN
4,구리시,0.0,163.0,290.0,280.0,0.0,53.0,63.0,33.0,0.0,1070,0.0,3875.0,0.0,NaN
5,군포시,66.0,286.0,536.0,0.0,339.0,331.0,166.0,0.0,1227.0,1306,0.0,17.0,47.0,NaN
6,김포시,0.0,36.0,2239.0,3417.0,0.0,7560.0,2358.0,30.0,0.0,66,101.0,64.0,0.0,NaN
7,남양주시,0.0,0.0,10323.0,0.0,0.0,578.0,3397.0,1630.0,0.0,0,834.0,879.0,0.0,NaN
8,부천시,0.0,2734.0,4340.0,0.0,0.0,4465.0,3222.0,0.0,0.0,3722,0.0,1956.0,0.0,0.0
9,성남시,0.0,417.0,13034.0,1090.0,0.0,4065.0,849.0,0.0,0.0,179,106.0,68.0,0.0,NaN
10,수원시,380.0,892.0,1847.0,81.0,1908.0,4962.0,6495.0,1206.0,104.0,5497,2883.0,5711.0,126.0,1267.0
11,시흥시,0.0,271.0,2316.0,2.0,1542.0,4320.0,2898.0,912.0,0.0,12504,5745.0,3836.0,288.0,17.0
12,안산시,0.0,1228.0,9022.0,0.0,0.0,1485.0,686.0,0.0,0.0,652,498.0,328.0,0.0,NaN
13,안양시,0.0,0.0,40.0,0.0,113.0,27.0,0.0,0.0,162.0,2914,5108.0,5108.0,0.0,NaN
14,양주시,0.0,0.0,6053.0,336.0,63.0,2950.0,2501.0,0.0,2876.0,831,1201.0,0.0,0.0,NaN
15,양평군,1.0,34.0,4.0,0.0,0.0,0.0,132.0,0.0,920.0,1498,88.0,0.0,9.0,264.0
16,여주시,0.0,13.0,108.0,0.0,0.0,59.0,1049.0,130.0,0.0,189,5.0,3103.0,0.0,NaN
17,연천군,0.0,97.0,365.0,0.0,222.0,1249.0,245.0,0.0,0.0,2687,159.0,261.0,0.0,NaN
18,용인시,0.0,946.0,16256.0,0.0,0.0,6963.0,1517.0,0.0,0.0,480,41.0,462.0,0.0,NaN
19,의왕시,0.0,0.0,1639.0,322.0,0.0,2133.0,686.0,36.0,0.0,175,0.0,470.0,0.0,NaN
20,의정부시,0.0,239.0,0.0,0.0,0.0,9026.0,85.0,0.0,0.0,1007,0.0,2011.0,0.0,NaN
21,이천시,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,590,3446.0,243.0,0.0,NaN
22,파주시,0.0,0.0,1700.0,13202.0,0.0,1300.0,6580.0,0.0,0.0,0,111.0,295.0,0.0,NaN
23,평택시,0.0,0.0,8518.0,0.0,0.0,12358.0,0.0,0.0,0.0,0,1012.0,0.0,0.0,NaN
24,포천시,0.0,82.0,8120.0,68.0,0.0,1800.0,0.0,0.0,0.0,0,0.0,54.0,0.0,NaN
25,하남시,0.0,79.0,1770.0,22.0,539.0,389.0,1347.0,1.0,1193.0,1996,26.0,1260.0,16.0,NaN

In [7]:
# 가로등의 총 합계
Gyeonggi_lamp_sum = Gyeonggi_lamp2.sum()
Gyeonggi_total = 0
for i in Gyeonggi_lamp_sum[1:] :
    Gyeonggi_total += int(i)
Gyeonggi_total

380268

### 서울 가로등 개수

In [8]:
seoul_lamp = pd.read_csv('./서울_가로등현황.csv', skiprows=1)

seoul_lamp2 = seoul_lamp.copy()
seoul_lamp2 = seoul_lamp2.iloc[1:, -3:-2]
seoul_lamp2['가로등'] = seoul_lamp2['가로등'].astype(int)
# seoul_lamp2['가로등']의 row수가 가로등 개수
seoul_total = seoul_lamp2['가로등'].sum()
seoul_total

571822

### 부산 가로등 개수

In [9]:
busan_lamp = pd.read_csv('./부산_가로등현황.csv', encoding='euc-kr')

busan_lamp2 = busan_lamp.copy()
busan_lamp2

,관리부서,나트륨100(w)이하,나트륨150(w)이하,나트륨200(w)이하,나트륨250(w)이하,나트륨400(w)이하,나트륨1(kw)이하,메탈100(w)이하,메탈150(w)이하,메탈200(w)이하,...,기타 100(w)이하,기타 150(w)이하,엘이디50(w)이하,엘이디100(w)이하,엘이디150(w)이하,엘이디200(w)이하,엘이디250(w)이하,엘이디400(w)이하,엘이디600(w)이하,엘이디1000(w)이하
0,중구,0,0,0,0,0,0,0,0,0,...,0,0,185,597,597,0,15,26,0,0
1,서구,59,2,0,508,49,0,0,17,55,...,0,0,547,259,1250,60,0,0,4,0
2,동구,32,0,0,723,0,0,225,200,0,...,87,0,128,458,1321,27,14,0,0,0
3,영도구,0,0,0,758,0,0,26,29,662,...,0,0,277,719,522,61,0,0,0,0
4,부산진구,0,40,0,426,24,0,0,111,278,...,22,0,687,325,2072,83,333,0,13,0
5,동래구,0,0,0,667,0,0,0,724,0,...,0,0,0,518,1235,85,71,0,0,0
6,남구,0,343,0,567,0,0,0,0,583,...,0,35,118,1129,754,147,0,0,0,0
7,북구,77,645,0,372,0,0,53,677,2,...,1,0,773,398,1768,643,7,0,3,0
8,해운대구,51,222,0,2124,387,2,0,412,146,...,15,1089,8,634,5023,759,0,0,4,4
9,사하구,213,29,0,3139,0,0,212,16,301,...,0,0,107,167,2030,53,0,0,3,0
10,금정구,0,0,0,1245,0,0,0,0,0,...,15,0,80,1066,1221,76,34,0,4,0
11,강서구,0,79,7,827,89,0,1170,2969,1155,...,340,1003,565,2501,3405,1953,2,32,0,0
12,연제구,0,36,0,365,58,0,0,100,0,...,93,0,487,668,1108,292,283,2,7,0
13,수영구,0,0,0,38,0,0,3,445,0,...,0,0,235,682,1742,219,3,16,12,0
14,사상구,0,281,0,325,0,0,65,131,225,...,0,0,150,1689,881,670,0,0,0,0
15,기장군,0,0,0,514,0,0,0,3303,0,...,0,185,500,6746,4698,0,0,0,9,0
16,시설공단_도로시설,0,0,0,169,0,0,0,0,0,...,0,0,0,1187,1240,0,0,0,0,0
17,시설공단_교량관리,0,0,0,0,0,0,0,0,0,...,0,0,0,661,363,227,0,0,0,0
18,민자_산성,0,0,0,0,0,10,0,0,0,...,0,0,0,0,49,14,0,0,0,0
19,민자_천마,0,0,0,0,0,0,0,0,0,...,0,0,0,57,0,0,16,0,0,0
20,민자_을숙도대교,0,0,0,0,0,0,0,0,0,...,0,0,0,0,99,304,0,10,0,0
21,민자_부산항대교,0,0,0,0,0,0,0,100,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# 데이터의 전체 합계 수가 가로등 개수
busan_lamp_sum = busan_lamp2.sum()
busan_total = 0
for i in busan_lamp_sum[1:] :
    busan_total += int(i)
busan_total

111357

### 대구 가로등 개수

In [11]:
daegu_lamp = pd.read_csv('./대구_가로등현황.csv',encoding='euc-kr')

daegu_lamp2 = daegu_lamp.copy()
# 전체 row수가 가로등 개수
daegu_total = daegu_lamp2.shape[0]
daegu_total

59757

### 인천 가로등 개수

In [12]:
incheon_lamp = pd.read_csv('./인천_가로등현황.csv',encoding='euc-kr')

incheon_lamp2 = incheon_lamp.copy()
# 가로등 컬럼만 불러온다
incheon_lamp2 = incheon_lamp.iloc[:, -1]
incheon_total = incheon_lamp2.sum()
incheon_total

131680

### 광주 가로등 개수

In [13]:
# 광주 가로등 폴더에 있는 모든 csv 파일을 불러옴
gwangju_files = glob('./광주 가로등/*.csv')

gwangju_lamp = pd.DataFrame()
# 오류가 났을 때 파일 확인을 위한 tqdm 사용
for file_name in tqdm(gwangju_files):
    try :
        temp = pd.read_csv(file_name, encoding='euc-kr')
    except:
        temp = pd.read_csv(file_name)
    gwangju_lamp = pd.concat([gwangju_lamp, temp]) # 모든 csv 데이터를 합침
# 합친 csv 파일의 row값 = 가로등 개수
gwangju_total = gwangju_lamp.shape[0]
gwangju_total

  0%|          | 0/5 [00:00<?, ?it/s]

46746

### 대전 가로등 개수

In [14]:
daejeon_lamp = pd.read_csv('./대전_가로등현황.csv', encoding='euc-kr')

daejeon_lamp2 = daejeon_lamp.copy()
# row 값 = 가로등 개수
daejeon_total = daejeon_lamp2.shape[0]
daejeon_total

43082

### 울산 가로등 개수

In [15]:
ulsan_lamp = pd.read_csv('./울산_가로등현황.csv', encoding='euc-kr')

ulsan_lamp2 = ulsan_lamp.copy()
ulsan_lamp2

,지형지물부호,관리번호,행정읍면동코드,도엽번호,관리기관코드,도로구간번호,공사번호,설치일자
0,교통표지판,1,중구,359061775A,중구청,801686,NaN,NaN
1,교통표지판,2,남구,359062103B,NaN,33288,NaN,NaN
2,교통표지판,3,남구,359062103B,NaN,33288,NaN,NaN
3,교통표지판,10,남구,359062103A,NaN,47014,NaN,NaN
4,신호등,11,울주군,359100728A,울주군청도로과,20706,NaN,NaN
...,...,...,...,...,...,...,...,...
148716,가로등,41826,울주군,359091041D,종합건설본부,169260,NaN,1900-01-01 0:00
148717,가로등,41824,울주군,359091033D,종합건설본부,169266,NaN,1900-01-01 0:00
148718,가로등,41825,울주군,359091041D,종합건설본부,169260,NaN,1900-01-01 0:00
148719,가로등,41831,울주군,359091042C,종합건설본부,169260,NaN,1900-01-01 0:00
148720,가로등,41830,울주군,359091042C,종합건설본부,169260,NaN,1900-01-01 0:00

In [16]:
ulsan_lamp3 = ulsan_lamp2['지형지물부호'] == '가로등'
ulsan_total = 0
# 지형지물부호가 가로등인 row만 count
for i in ulsan_lamp3 :
    if i == True :
        ulsan_total += 1
ulsan_total

41395

### 세종 가로등 개수

In [17]:
sejong_lamp = pd.read_csv('./세종_가로등현황.csv', encoding='euc-kr')

sejong_lamp2 = sejong_lamp.copy()
# row값 = 가로등 개수
sejong_total = sejong_lamp2.shape[0]
sejong_total

15460

### 강원, 제주 가로등 개수

In [18]:
# 자료 x, 기사를 통해 정보 얻음
gangwon_total = 98482
jeju_total = 34683

### 경북 가로등 개수

In [19]:
# 경북 가로등 폴더에 있는 모든 csv 파일을 불러옴
Gyeongsangbuk_files = glob('./경북 가로등/*.csv')

Gyeongsangbuk_lamp = pd.DataFrame()
# 오류가 났을 때 파일 확인을 위한 tqdm 사용
for file_name in tqdm(Gyeongsangbuk_files):
    try :
        temp = pd.read_csv(file_name, encoding='euc-kr')
    except :
        temp = pd.read_csv(file_name)
    Gyeongsangbuk_lamp = pd.concat([Gyeongsangbuk_lamp, temp]) # 모든 csv 파일을 합침
# 합친 csv 파일의 row수 = 가로등 개수
Gyeongsangbuk_total = Gyeongsangbuk_lamp.shape[0]
Gyeongsangbuk_total

  0%|          | 0/18 [00:00<?, ?it/s]

147764

### 경남 가로등 개수

In [20]:
# 경남 가로등 폴더에 있는 모든 csv 파일을 불러옴
Gyeongsangnam_files = glob('./경남 가로등/*.csv')

Gyeongsangnam_lamp = pd.DataFrame()
# 오류가 났을 때 파일 확인을 위한 tqdm 사용
for file_name in tqdm(Gyeongsangnam_files):
    try :
        temp = pd.read_csv(file_name, encoding='euc-kr')
    except:
        temp = pd.read_csv(file_name)
    Gyeongsangnam_lamp = pd.concat([Gyeongsangnam_lamp, temp]) # 모든 csv 파일을 합침
# 합친 csv 파일의 row수 = 가로등 개수
Gyeongsangnam_total = Gyeongsangnam_lamp.shape[0]
Gyeongsangnam_total

  0%|          | 0/18 [00:00<?, ?it/s]

145133

### 충남 가로등 개수

In [21]:
# 충남 가로등 폴더에 있는 모든 csv 파일을 불러옴
Chungcheongnam_files = glob('./충남 가로등/*.csv')

Chungcheongnam_lamp = pd.DataFrame()
# 오류가 났을 때 파일 확인을 위한 tqdm 사용
for file_name in tqdm(Chungcheongnam_files):
    try :
        temp = pd.read_csv(file_name, encoding='euc-kr')
    except:
        temp = pd.read_csv(file_name)
    Chungcheongnam_lamp = pd.concat([Chungcheongnam_lamp, temp]) # 모든 csv 파일을 합침
# 합친 csv 파일의 row수 = 가로등 개수
Chungcheongnam_total = Chungcheongnam_lamp.shape[0]
Chungcheongnam_total

  0%|          | 0/13 [00:00<?, ?it/s]

118201

### 충북 가로등 개수

In [22]:
# 에러
# 해결 정민님 감사합니다!!
# 충북 가로등 폴더에 있는 모든 csv 파일을 불러옴
Chungcheongbuk_files = glob('./충북 가로등/*.csv')

Chungcheongbuk_lamp = pd.DataFrame()
# 오류가 났을 때 파일 확인을 위한 tqdm 사용
for file_name in tqdm(Chungcheongbuk_files):
    try :
        temp = pd.read_csv(file_name, encoding='euc-kr')
    except :
        try :
            temp = pd.read_csv(file_name)
        except :
            temp = pd.read_csv(file_name, encoding='cp949') # euc-kr, utf-8 인코딩 모두 오류시 cp949 인코딩
    Chungcheongbuk_lamp = pd.concat([Chungcheongbuk_lamp, temp]) # 모든 csv 파일을 합침
# 합친 csv 파일의 row수 = 가로등 개수
Chungcheongbuk_total = Chungcheongbuk_lamp.shape[0]
Chungcheongbuk_total

  0%|          | 0/9 [00:00<?, ?it/s]

94175

### 전북 가로등 개수

In [23]:
# 전북 가로등 폴더에 있는 모든 csv 파일을 불러옴
Jeollabuk_files = glob('./전북 가로등/*.csv')

Jeollabuk_lamp = pd.DataFrame()
# 오류가 났을 때 파일 확인을 위한 tqdm 사용
for file_name in tqdm(Jeollabuk_files):
    try :
        temp = pd.read_csv(file_name, encoding='euc-kr')
    except:
        temp = pd.read_csv(file_name)
    Jeollabuk_lamp = pd.concat([Jeollabuk_lamp, temp]) # 모든 csv 파일을 합침
# 합친 csv 파일의 row수 = 가로등 개수
Jeollabuk_total = Jeollabuk_lamp.shape[0]
Jeollabuk_total

  0%|          | 0/14 [00:00<?, ?it/s]

114705

### 전남 가로등 개수

In [24]:
# 전남 가로등 폴더에 있는 모든 csv 파일을 불러옴
Jeollanam_files = glob('./전남 가로등/*.csv')

Jeollanam_lamp = pd.DataFrame()
# 오류가 났을 때 파일 확인을 위한 tqdm 사용
for file_name in tqdm(Jeollanam_files):
    try :
        temp = pd.read_csv(file_name, encoding='euc-kr')
    except:
        temp = pd.read_csv(file_name)
    Jeollanam_lamp = pd.concat([Jeollanam_lamp, temp]) # 모든 csv 파일을 합침
# 합친 csv 파일의 row수 = 가로등 개수
Jeollanam_total = Jeollanam_lamp.shape[0]
Jeollanam_total

  0%|          | 0/20 [00:00<?, ?it/s]

165649

In [25]:
# 전국 가로등 개수를 리스트에 추가
total_lamp = [seoul_total, busan_total, daegu_total, incheon_total, gwangju_total, daejeon_total, ulsan_total, sejong_total, 
              Gyeonggi_total, gangwon_total, Chungcheongbuk_total, Chungcheongnam_total, Jeollabuk_total, Jeollanam_total, 
              Gyeongsangbuk_total, Gyeongsangnam_total, jeju_total]
total_lamp

[571822,
 111357,
 59757,
 131680,
 46746,
 43082,
 41395,
 15460,
 380268,
 98482,
 94175,
 118201,
 114705,
 165649,
 147764,
 145133,
 34683]

# 지역별 범죄 건수

In [26]:
crime = pd.read_csv('./지역별 범죄 건수, 지역별 인구수.csv', encoding='euc_kr')

# 원본 훼손 방지를 위해 copy
crime2 = crime.copy()
crime2.columns = ['지역', '2017', '2018', '2019', '2020', '2021']
crime2 = crime2.set_index(["지역"])
crime2

      2017    2018    2019    2020    2021
지역
서울  352471  341288  340504  318320  274830
부산  130148  126230  128725  127673  113558
대구   82281   79489   82905   79182   72339
인천  101526   94605  101289   96340   85432
광주   54627   51223   52827   49869   44610
대전   50357   48184   47929   46960   41921
울산   26558   25323   25814   24911   23463
세종    5023    5331    6300    6651    6147
경기  459893  429953  433498  429487  388004
강원   58900   52495   53289   51544   45398
충북   56944   53659   53801   51645   47020
충남   73772   75405   73817   71847   63290
전북   57238   56353   58012   56210   52587
전남   64618   65932   68566   67448   60205
경북   89049   85371   88098   83790   75300
경남  127294  117243  123992  123406  111102
제주   34177   30106   28318   29296   26499

In [27]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  17 non-null     object
 1   2017        17 non-null     int64
 2   2018        17 non-null     int64
 3   2019        17 non-null     int64
 4   2020        17 non-null     int64
 5   2021        17 non-null     int64
dtypes: int64(5), object(1)
memory usage: 944.0+ bytes

In [28]:
# 결측치 확인
pd.isna(crime2)

     2017   2018   2019   2020   2021
지역
서울  False  False  False  False  False
부산  False  False  False  False  False
대구  False  False  False  False  False
인천  False  False  False  False  False
광주  False  False  False  False  False
대전  False  False  False  False  False
울산  False  False  False  False  False
세종  False  False  False  False  False
경기  False  False  False  False  False
강원  False  False  False  False  False
충북  False  False  False  False  False
충남  False  False  False  False  False
전북  False  False  False  False  False
전남  False  False  False  False  False
경북  False  False  False  False  False
경남  False  False  False  False  False
제주  False  False  False  False  False

In [29]:
# 중앙값 열 추가
crime2.loc[:,'중앙값'] = crime2.median(axis=1)
crime2

      2017    2018    2019    2020    2021       중앙값
지역
서울  352471  341288  340504  318320  274830  340504.0
부산  130148  126230  128725  127673  113558  127673.0
대구   82281   79489   82905   79182   72339   79489.0
인천  101526   94605  101289   96340   85432   96340.0
광주   54627   51223   52827   49869   44610   51223.0
대전   50357   48184   47929   46960   41921   47929.0
울산   26558   25323   25814   24911   23463   25323.0
세종    5023    5331    6300    6651    6147    6147.0
경기  459893  429953  433498  429487  388004  429953.0
강원   58900   52495   53289   51544   45398   52495.0
충북   56944   53659   53801   51645   47020   53659.0
충남   73772   75405   73817   71847   63290   73772.0
전북   57238   56353   58012   56210   52587   56353.0
전남   64618   65932   68566   67448   60205   65932.0
경북   89049   85371   88098   83790   75300   85371.0
경남  127294  117243  123992  123406  111102  123406.0
제주   34177   30106   28318   29296   26499   29296.0

In [30]:
# 수의 차이
# 각 항목의 최소값을 0, 최대값을 1로 설정하고 범위 안에서 비교

col =  ['2017', '2018', '2019', '2020', '2021','중앙값']
x = crime2[col].values
scaler = preprocessing.MinMaxScaler()             # 정규화 시켜준다.
x_scale =scaler.fit_transform(x.astype(float))
crime_minmax = pd.DataFrame(x_scale, columns=col, index = crime2.index)
crime_minmax

        2017      2018      2019      2020      2021       중앙값
지역
서울  0.763840  0.791191  0.782316  0.737092  0.703622  0.788939
부산  0.275079  0.284721  0.286577  0.286215  0.281286  0.286749
대구  0.169846  0.174645  0.179320  0.171535  0.173342  0.173056
인천  0.212155  0.210243  0.222354  0.212113  0.207630  0.212817
광주  0.109051  0.108077  0.108912  0.102210  0.100726  0.106360
대전  0.099664  0.100920  0.097447  0.095330  0.093684  0.098588
울산  0.047343  0.047082  0.045679  0.043185  0.045347  0.045247
세종  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
경기  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
강원  0.118445  0.111073  0.109993  0.106171  0.102790  0.109361
충북  0.114145  0.113814  0.111192  0.106410  0.107037  0.112108
충남  0.151140  0.165027  0.158046  0.154187  0.149645  0.159566
전북  0.114791  0.120159  0.121049  0.117206  0.121616  0.118465
전남  0.131015  0.142718  0.145754  0.143784  0.141566  0.141067
경북  0.184725  0.188497  0.191476  0.182432  0.181097  0.186935
경남  0.268804  0.263557  0.275498  0.276124  0.274854  0.276681
제주  0.064093  0.058346  0.051541  0.053555  0.053297  0.054622

# 월별 범죄 발생 건수

In [31]:
monthCrime = pd.read_csv('./월별 범죄 발생 건수.csv', encoding='euc_kr')

# 원본 훼손 방지를 위해 copy
monthCrime2 = monthCrime.copy()

monthCrime2.columns = ['월', '2017', '2018', '2019', '2020', '2021']
monthCrime2

     월    2017    2018    2019    2020    2021
0    1  151346  140331  142451  141057  123663
1    2  136882  120642  118904  128756  111342
2    3  165281  148840  150702  144857  140066
3    4  160629  148661  151145  143223  135494
4    5  166457  153754  162459  153425  136324
5    6  158831  151160  153522  149642  137552
6    7  159539  154068  155777  149433  135183
7    8  157416  150322  153879  144085  125322
8    9  154754  146923  148591  138540  127514
9   10  143972  143716  154064  144849  124826
10  11  135376  141330  142496  138564  119457
11  12  134393  138443  133694  138148  114962

In [32]:
# 칼럼값을 프레임 내에 넣기 위해 stack
monthCrime2 = pd.DataFrame(monthCrime2.stack()).reset_index()
monthCrime2

    level_0 level_1       0
0         0       월       1
1         0    2017  151346
2         0    2018  140331
3         0    2019  142451
4         0    2020  141057
..      ...     ...     ...
67       11    2017  134393
68       11    2018  138443
69       11    2019  133694
70       11    2020  138148
71       11    2021  114962

[72 rows x 3 columns]

In [33]:
monthCrime2 = monthCrime2.rename(columns={'level_0' : '월', 'level_1' : '연도', 0 : '총 범죄수'})
monthCrime2['월'] = monthCrime2['월']+1
monthCrime2

     월    연도   총 범죄수
0    1     월       1
1    1  2017  151346
2    1  2018  140331
3    1  2019  142451
4    1  2020  141057
..  ..   ...     ...
67  12  2017  134393
68  12  2018  138443
69  12  2019  133694
70  12  2020  138148
71  12  2021  114962

[72 rows x 3 columns]

In [34]:
# 잘못 들어간 행 삭제
for i in range(0, 71) :
    if monthCrime2.loc[i]['연도'] == '월' :
        monthCrime2 = monthCrime2.drop(i, axis = 0)
monthCrime2

     월    연도   총 범죄수
1    1  2017  151346
2    1  2018  140331
3    1  2019  142451
4    1  2020  141057
5    1  2021  123663
7    2  2017  136882
8    2  2018  120642
9    2  2019  118904
10   2  2020  128756
11   2  2021  111342
13   3  2017  165281
14   3  2018  148840
15   3  2019  150702
16   3  2020  144857
17   3  2021  140066
19   4  2017  160629
20   4  2018  148661
21   4  2019  151145
22   4  2020  143223
23   4  2021  135494
25   5  2017  166457
26   5  2018  153754
27   5  2019  162459
28   5  2020  153425
29   5  2021  136324
31   6  2017  158831
32   6  2018  151160
33   6  2019  153522
34   6  2020  149642
35   6  2021  137552
37   7  2017  159539
38   7  2018  154068
39   7  2019  155777
40   7  2020  149433
41   7  2021  135183
43   8  2017  157416
44   8  2018  150322
45   8  2019  153879
46   8  2020  144085
47   8  2021  125322
49   9  2017  154754
50   9  2018  146923
51   9  2019  148591
52   9  2020  138540
53   9  2021  127514
55  10  2017  143972
56  10  2018  143716
57  10  2019  154064
58  10  2020  144849
59  10  2021  124826
61  11  2017  135376
62  11  2018  141330
63  11  2019  142496
64  11  2020  138564
65  11  2021  119457
67  12  2017  134393
68  12  2018  138443
69  12  2019  133694
70  12  2020  138148
71  12  2021  114962

In [35]:
# 인덱스 재배열
monthCrime2 = monthCrime2.reset_index()
monthCrime2 = monthCrime2.iloc[:, 1:4]
monthCrime2

     월    연도   총 범죄수
0    1  2017  151346
1    1  2018  140331
2    1  2019  142451
3    1  2020  141057
4    1  2021  123663
5    2  2017  136882
6    2  2018  120642
7    2  2019  118904
8    2  2020  128756
9    2  2021  111342
10   3  2017  165281
11   3  2018  148840
12   3  2019  150702
13   3  2020  144857
14   3  2021  140066
15   4  2017  160629
16   4  2018  148661
17   4  2019  151145
18   4  2020  143223
19   4  2021  135494
20   5  2017  166457
21   5  2018  153754
22   5  2019  162459
23   5  2020  153425
24   5  2021  136324
25   6  2017  158831
26   6  2018  151160
27   6  2019  153522
28   6  2020  149642
29   6  2021  137552
30   7  2017  159539
31   7  2018  154068
32   7  2019  155777
33   7  2020  149433
34   7  2021  135183
35   8  2017  157416
36   8  2018  150322
37   8  2019  153879
38   8  2020  144085
39   8  2021  125322
40   9  2017  154754
41   9  2018  146923
42   9  2019  148591
43   9  2020  138540
44   9  2021  127514
45  10  2017  143972
46  10  2018  143716
47  10  2019  154064
48  10  2020  144849
49  10  2021  124826
50  11  2017  135376
51  11  2018  141330
52  11  2019  142496
53  11  2020  138564
54  11  2021  119457
55  12  2017  134393
56  12  2018  138443
57  12  2019  133694
58  12  2020  138148
59  12  2021  114962

# 일별 범죄 발생 건수

In [36]:
dayCrime = pd.read_csv('./요일별 범죄 발생 건수.csv', encoding='euc_kr')

# 원본 훼손 방지를 위해 copy
dayCrime2 = dayCrime.copy()
dayCrime2.columns = ['요일', '2017', '2018', '2019', '2020', '2021']
dayCrime2 = dayCrime2.set_index(["요일"])

In [37]:
# 칼럼값을 프레임 내에 넣기 위해 stack
dayCrime2 = dayCrime2.stack().reset_index()
dayCrime2 = dayCrime2.rename(columns={'level_1' : '연도', 0 : '총 범죄수'})
dayCrime2

   요일    연도   총 범죄수
0   일  2017  149863
1   일  2018  132547
2   일  2019  132547
3   일  2020  119801
4   일  2021  104125
5   월  2017  141340
6   월  2018  127246
7   월  2019  127246
8   월  2020  121647
9   월  2021  110891
10  화  2017  146520
11  화  2018  132340
12  화  2019  132340
13  화  2020  124669
14  화  2021  111195
15  수  2017  148301
16  수  2018  132490
17  수  2019  132490
18  수  2020  124773
19  수  2021  112283
20  목  2017  151136
21  목  2018  133816
22  목  2019  133816
23  목  2020  124150
24  목  2021  112934
25  금  2017  158235
26  금  2018  141991
27  금  2019  141991
28  금  2020  133273
29  금  2021  119794
30  토  2017  165713
31  토  2018  147759
32  토  2019  147759
33  토  2020  134409
34  토  2021  119929

In [38]:
dayCrime2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   요일      35 non-null     object
 1   연도      35 non-null     object
 2   총 범죄수   35 non-null     int64
dtypes: int64(1), object(2)
memory usage: 968.0+ bytes

# 시간별 범죄 발생 건수

In [39]:
timeCrime = pd.read_csv('./시간별 범죄 발생 건수.csv', encoding='euc_kr')

# 원본 훼손 방지를 위해 copy
timeCrime2 = timeCrime.copy()
timeCrime2.columns = ['시간', '2017', '2018', '2019', '2020', '2021']
timeCrime2 = timeCrime2.set_index(["시간"])
timeCrime2

# timeCrime2 = timeCrime.copy()
# timeCrime2['year'] = timeCrime2['year'].astype(str)

               2017    2018    2019    2020    2021
시간
00:00-02:59   84473   73169   67858   61428   41200
03:00-05:59   76691   67698   64131   57951   35710
06:00-08:59   74646   65827   66068   58361   47449
09:00-11:59   99062   86238   89296   83199   75532
12:00-14:59  100348   90989   97282   94852   88738
15:00-17:59  120283  107370  110991  108553  100589
18:00-20:59  137614  123074  122216  118578  113021
21:00-23:59  196792  166208  145867  132955  139304

In [40]:
# 칼럼값을 프레임 내에 넣기 위해 stack
timeCrime2 = timeCrime2.stack().reset_index()
timeCrime2

             시간 level_1       0
0   00:00-02:59    2017   84473
1   00:00-02:59    2018   73169
2   00:00-02:59    2019   67858
3   00:00-02:59    2020   61428
4   00:00-02:59    2021   41200
5   03:00-05:59    2017   76691
6   03:00-05:59    2018   67698
7   03:00-05:59    2019   64131
8   03:00-05:59    2020   57951
9   03:00-05:59    2021   35710
10  06:00-08:59    2017   74646
11  06:00-08:59    2018   65827
12  06:00-08:59    2019   66068
13  06:00-08:59    2020   58361
14  06:00-08:59    2021   47449
15  09:00-11:59    2017   99062
16  09:00-11:59    2018   86238
17  09:00-11:59    2019   89296
18  09:00-11:59    2020   83199
19  09:00-11:59    2021   75532
20  12:00-14:59    2017  100348
21  12:00-14:59    2018   90989
22  12:00-14:59    2019   97282
23  12:00-14:59    2020   94852
24  12:00-14:59    2021   88738
25  15:00-17:59    2017  120283
26  15:00-17:59    2018  107370
27  15:00-17:59    2019  110991
28  15:00-17:59    2020  108553
29  15:00-17:59    2021  100589
30  18:00-20:59    2017  137614
31  18:00-20:59    2018  123074
32  18:00-20:59    2019  122216
33  18:00-20:59    2020  118578
34  18:00-20:59    2021  113021
35  21:00-23:59    2017  196792
36  21:00-23:59    2018  166208
37  21:00-23:59    2019  145867
38  21:00-23:59    2020  132955
39  21:00-23:59    2021  139304

In [41]:
# 컬럼명 변경
timeCrime2 = timeCrime2.rename(columns={'level_1' : '연도', 0 : '총 범죄수'})
timeCrime2

             시간    연도   총 범죄수
0   00:00-02:59  2017   84473
1   00:00-02:59  2018   73169
2   00:00-02:59  2019   67858
3   00:00-02:59  2020   61428
4   00:00-02:59  2021   41200
5   03:00-05:59  2017   76691
6   03:00-05:59  2018   67698
7   03:00-05:59  2019   64131
8   03:00-05:59  2020   57951
9   03:00-05:59  2021   35710
10  06:00-08:59  2017   74646
11  06:00-08:59  2018   65827
12  06:00-08:59  2019   66068
13  06:00-08:59  2020   58361
14  06:00-08:59  2021   47449
15  09:00-11:59  2017   99062
16  09:00-11:59  2018   86238
17  09:00-11:59  2019   89296
18  09:00-11:59  2020   83199
19  09:00-11:59  2021   75532
20  12:00-14:59  2017  100348
21  12:00-14:59  2018   90989
22  12:00-14:59  2019   97282
23  12:00-14:59  2020   94852
24  12:00-14:59  2021   88738
25  15:00-17:59  2017  120283
26  15:00-17:59  2018  107370
27  15:00-17:59  2019  110991
28  15:00-17:59  2020  108553
29  15:00-17:59  2021  100589
30  18:00-20:59  2017  137614
31  18:00-20:59  2018  123074
32  18:00-20:59  2019  122216
33  18:00-20:59  2020  118578
34  18:00-20:59  2021  113021
35  21:00-23:59  2017  196792
36  21:00-23:59  2018  166208
37  21:00-23:59  2019  145867
38  21:00-23:59  2020  132955
39  21:00-23:59  2021  139304

In [42]:
timeCrime2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시간      40 non-null     object
 1   연도      40 non-null     object
 2   총 범죄수   40 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.1+ KB

# 장소별 범죄 발생 건수

In [43]:
placeCrime = pd.read_csv('./장소별 범죄 건수.csv', encoding='euc_kr')

# 원본 훼손 방지를 위해 copy
placeCrime2 = placeCrime.copy()
placeCrime2.columns = ['장소', '2017', '2018', '2019', '2020', '2021']
placeCrime3 = placeCrime2.copy()
placeCrime2 = placeCrime2.set_index(['장소'])

# 컬럼값(장소)을 데이터에 넣음
placeCrime2 = pd.DataFrame(placeCrime2.stack()).reset_index()

# 장소의 실외 여부 리스트
in_or_out = [0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
             0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 
             1, 1, 0, 0, 0]

placeCrime3.insert(6, '실외 여부',in_or_out)
placeCrime3 = placeCrime3.drop(columns='장소')
placeCrime3 = placeCrime3.set_index(['실외 여부'])
# 컬럼값(실외 여부)을 데이터에 넣음
placeCrime3 = pd.DataFrame(placeCrime3.stack()).reset_index()
# 실외 여부 데이터만 추출
placeCrime3 = placeCrime3.iloc[:, :1]
placeCrime2.insert(3, '실외 여부', placeCrime3)
placeCrime2 = placeCrime2.rename(columns={'level_1' : '연도', 0 : '총 범죄수'})
placeCrime2['실외 여부'] = placeCrime2['실외 여부'].astype(str)

# 불필요한 '기타' 행 제거
placeCrime2 = placeCrime2.iloc[:-5]
placeCrime2

             장소    연도  총 범죄수 실외 여부
0    아파트ㆍ연립ㆍ다세대  2017  38513     0
1    아파트ㆍ연립ㆍ다세대  2018  60271     0
2    아파트ㆍ연립ㆍ다세대  2019  71770     0
3    아파트ㆍ연립ㆍ다세대  2020  73131     0
4    아파트ㆍ연립ㆍ다세대  2021  76422     0
..          ...   ...    ...   ...
125          공지  2017     77     0
126          공지  2018    165     0
127          공지  2019    163     0
128          공지  2020    125     0
129          공지  2021    106     0

[130 rows x 4 columns]

In [44]:
# # 불필요한 '기타' 행 제거
# placeCrime2 = placeCrime2.drop(['기타'],axis=0)
# placeCrime2
placeCrime2 = placeCrime2.rename(columns={'level_1' : '연도', 0 : '총 범죄수'})
# 불필요한 '기타' 행 제거
placeCrime2 = placeCrime2.iloc[:-5]
placeCrime2

             장소    연도  총 범죄수 실외 여부
0    아파트ㆍ연립ㆍ다세대  2017  38513     0
1    아파트ㆍ연립ㆍ다세대  2018  60271     0
2    아파트ㆍ연립ㆍ다세대  2019  71770     0
3    아파트ㆍ연립ㆍ다세대  2020  73131     0
4    아파트ㆍ연립ㆍ다세대  2021  76422     0
..          ...   ...    ...   ...
120        구금장소  2017    360     0
121        구금장소  2018    388     0
122        구금장소  2019    344     0
123        구금장소  2020    334     0
124        구금장소  2021    322     0

[125 rows x 4 columns]

In [45]:
# # 합계 열 추가
# placeCrime2.loc[:, '합계'] = placeCrime2.loc[:,'2017':'2021'].sum(axis=1)
# placeCrime2

In [46]:
placeCrime2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   장소      125 non-null    object
 1   연도      125 non-null    object
 2   총 범죄수   125 non-null    int64
 3   실외 여부   125 non-null    object
dtypes: int64(1), object(3)
memory usage: 4.0+ KB

# 경찰서,파출소,지구대 현황

In [47]:
police = pd.read_csv('./1720전국 경찰서 현황.csv', encoding='euc_kr')

# 원본 훼손 방지를 위해 copy
police2 = police.copy()
police2

,Unnamed: 0,17년도 경찰서,17년도 지구대,17년도 파출소,18년도 경찰서,18년도 지구대,18년도 파출소,19년도 경찰서,19년도 지구대,19년도 파출소,20년도 경찰서,20년도 지구대,20년도 파출소,21년도 경찰서,21년도 지구대,21년도 파출소
0,서울,31,88.0,151.0,31,88.0,152.0,31,96,145,31,96,145,31,98,144
1,부산,15,50.0,42.0,15,50.0,42.0,15,49,45,15,49,45,15,49,45
2,대구,10,30.0,30.0,10,30.0,31.0,10,30,32,10,31,31,10,31,31
3,인천,9,37.0,38.0,9,37.0,38.0,10,37,38,10,39,36,10,39,36
4,광주,5,19.0,21.0,5,19.0,21.0,5,19,21,5,19,21,5,19,21
5,대전,6,17.0,10.0,6,17.0,10.0,6,19,9,6,20,10,6,21,10
6,울산,4,10.0,20.0,4,10.0,20.0,4,10,20,4,10,20,5,10,20
7,세종,1,NaN,NaN,1,NaN,NaN,1,4,5,1,4,5,1,4,5
8,경기남부,30,67.0,169.0,30,67.0,171.0,31,91,152,31,91,154,31,91,157
9,경기북부,12,19.0,74.0,12,19.0,74.0,12,23,71,12,23,71,13,24,73
10,강원,17,30.0,75.0,17,30.0,75.0,17,31,74,17,31,74,17,31,74
11,충북,12,27.0,51.0,12,27.0,51.0,12,27,52,12,27,52,12,28,51
12,충남,15,32.0,89.0,16,32.0,89.0,16,38,85,15,34,80,15,37,78
13,전북,15,22.0,141.0,15,22.0,141.0,15,26,138,15,26,138,15,28,136
14,전남,21,15.0,190.0,21,15.0,190.0,21,15,191,21,15,191,21,15,191
15,경북,24,21.0,210.0,24,21.0,211.0,24,24,209,24,24,210,24,24,210
16,경남,23,26.0,144.0,23,26.0,144.0,23,38,134,23,39,135,23,39,137
17,제주,3,6.0,18.0,3,6.0,19.0,3,7,19,3,7,19,3,7,19

In [48]:
# 결측치 갯수 세기
police2.isnull().sum(axis=1) # 행으로 계산

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     4
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
dtype: int64

In [49]:
# '세종'의 결측치를 2019년도 정보로 대체
police2['17년도 지구대'] = police['17년도 지구대'].fillna(0)
police2['17년도 파출소'] = police['17년도 파출소'].fillna(0)
police2['18년도 지구대'] = police['18년도 지구대'].fillna(0)
police2['18년도 파출소'] = police['18년도 파출소'].fillna(0)

police2

,Unnamed: 0,17년도 경찰서,17년도 지구대,17년도 파출소,18년도 경찰서,18년도 지구대,18년도 파출소,19년도 경찰서,19년도 지구대,19년도 파출소,20년도 경찰서,20년도 지구대,20년도 파출소,21년도 경찰서,21년도 지구대,21년도 파출소
0,서울,31,88.0,151.0,31,88.0,152.0,31,96,145,31,96,145,31,98,144
1,부산,15,50.0,42.0,15,50.0,42.0,15,49,45,15,49,45,15,49,45
2,대구,10,30.0,30.0,10,30.0,31.0,10,30,32,10,31,31,10,31,31
3,인천,9,37.0,38.0,9,37.0,38.0,10,37,38,10,39,36,10,39,36
4,광주,5,19.0,21.0,5,19.0,21.0,5,19,21,5,19,21,5,19,21
5,대전,6,17.0,10.0,6,17.0,10.0,6,19,9,6,20,10,6,21,10
6,울산,4,10.0,20.0,4,10.0,20.0,4,10,20,4,10,20,5,10,20
7,세종,1,0.0,0.0,1,0.0,0.0,1,4,5,1,4,5,1,4,5
8,경기남부,30,67.0,169.0,30,67.0,171.0,31,91,152,31,91,154,31,91,157
9,경기북부,12,19.0,74.0,12,19.0,74.0,12,23,71,12,23,71,13,24,73
10,강원,17,30.0,75.0,17,30.0,75.0,17,31,74,17,31,74,17,31,74
11,충북,12,27.0,51.0,12,27.0,51.0,12,27,52,12,27,52,12,28,51
12,충남,15,32.0,89.0,16,32.0,89.0,16,38,85,15,34,80,15,37,78
13,전북,15,22.0,141.0,15,22.0,141.0,15,26,138,15,26,138,15,28,136
14,전남,21,15.0,190.0,21,15.0,190.0,21,15,191,21,15,191,21,15,191
15,경북,24,21.0,210.0,24,21.0,211.0,24,24,209,24,24,210,24,24,210
16,경남,23,26.0,144.0,23,26.0,144.0,23,38,134,23,39,135,23,39,137
17,제주,3,6.0,18.0,3,6.0,19.0,3,7,19,3,7,19,3,7,19

In [50]:
# 결측치 갯수 재확인
police2.isnull().sum(axis=1) # 행으로 계산

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
dtype: int64

In [51]:
# 년도별로 열 합치기
for i in range(17,22):
    i = str(i)
    police2.loc[:, i+'년도 경찰서,지구대,파출소'] = police2.loc[:,i+'년도 경찰서':i+'년도 파출소'].sum(axis=1)

# 불필요한 열 제거
for i in range(17,22):
    i = str(i)
    police2 = police2.drop([i+'년도 경찰서',i+'년도 지구대',i+'년도 파출소'],axis=1)

police2.columns = ['지역', '17년도 경찰서,지구대,파출소', '18년도 경찰서,지구대,파출소', '19년도 경찰서,지구대,파출소',
                  '20년도 경찰서,지구대,파출소','21년도 경찰서,지구대,파출소']
police2 = police2.set_index(["지역"])
police2

,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소"
지역,,,,,
서울,270.0,271.0,272,272,273
부산,107.0,107.0,109,109,109
대구,70.0,71.0,72,72,72
인천,84.0,84.0,85,85,85
광주,45.0,45.0,45,45,45
대전,33.0,33.0,34,36,37
울산,34.0,34.0,34,34,35
세종,1.0,1.0,10,10,10
경기남부,266.0,268.0,274,276,279
경기북부,105.0,105.0,106,106,110
강원,122.0,122.0,122,122,122
충북,90.0,90.0,91,91,91
충남,136.0,137.0,139,129,130
전북,178.0,178.0,179,179,179
전남,226.0,226.0,227,227,227
경북,255.0,256.0,257,258,258
경남,193.0,193.0,195,197,199
제주,27.0,28.0,29,29,29

In [52]:
police2.loc['경기'] = police2.loc['경기남부':'경기북부'].sum()

# 행 순서 변경
police2 = police2.reindex(index=['서울','부산','대구','인천','광주','대전','울산','세종','경기','강원',
                        '충북','충남','전북','전남','경북','경남','제주'])
police2

,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소"
지역,,,,,
서울,270.0,271.0,272.0,272.0,273.0
부산,107.0,107.0,109.0,109.0,109.0
대구,70.0,71.0,72.0,72.0,72.0
인천,84.0,84.0,85.0,85.0,85.0
광주,45.0,45.0,45.0,45.0,45.0
대전,33.0,33.0,34.0,36.0,37.0
울산,34.0,34.0,34.0,34.0,35.0
세종,1.0,1.0,10.0,10.0,10.0
경기,371.0,373.0,380.0,382.0,389.0
강원,122.0,122.0,122.0,122.0,122.0
충북,90.0,90.0,91.0,91.0,91.0
충남,136.0,137.0,139.0,129.0,130.0
전북,178.0,178.0,179.0,179.0,179.0
전남,226.0,226.0,227.0,227.0,227.0
경북,255.0,256.0,257.0,258.0,258.0
경남,193.0,193.0,195.0,197.0,199.0
제주,27.0,28.0,29.0,29.0,29.0

In [53]:
# 수의 차이
# 각 항목의 최소값을 0, 최대값을 1로 설정하고 범위 안에서 비교

col =  ['17년도 경찰서,지구대,파출소', '18년도 경찰서,지구대,파출소', '19년도 경찰서,지구대,파출소',
        '20년도 경찰서,지구대,파출소','21년도 경찰서,지구대,파출소']
x = police2[col].values
scaler = preprocessing.MinMaxScaler()             # 정규화 시켜준다.
x_scale =scaler.fit_transform(x.astype(float))
police_minmax = pd.DataFrame(x_scale, columns=col, index = police2.index)
police_minmax

,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소"
지역,,,,,
서울,0.727027,0.725806,0.708108,0.704301,0.693931
부산,0.286486,0.284946,0.267568,0.266129,0.261214
대구,0.186486,0.188172,0.167568,0.166667,0.163588
인천,0.224324,0.223118,0.202703,0.201613,0.197889
광주,0.118919,0.118280,0.094595,0.094086,0.092348
대전,0.086486,0.086022,0.064865,0.069892,0.071240
울산,0.089189,0.088710,0.064865,0.064516,0.065963
세종,0.000000,0.000000,0.000000,0.000000,0.000000
경기,1.000000,1.000000,1.000000,1.000000,1.000000
강원,0.327027,0.325269,0.302703,0.301075,0.295515
충북,0.240541,0.239247,0.218919,0.217742,0.213720
충남,0.364865,0.365591,0.348649,0.319892,0.316623
전북,0.478378,0.475806,0.456757,0.454301,0.445910
전남,0.608108,0.604839,0.586486,0.583333,0.572559
경북,0.686486,0.685484,0.667568,0.666667,0.654354
경남,0.518919,0.516129,0.500000,0.502688,0.498681
제주,0.070270,0.072581,0.051351,0.051075,0.050132

In [54]:
# 지역별 범죄 발생 건수와 합치기 (일반 데이터)
crime_df = crime2.merge(police2[['17년도 경찰서,지구대,파출소', '18년도 경찰서,지구대,파출소', '19년도 경찰서,지구대,파출소',
                                 '20년도 경찰서,지구대,파출소','21년도 경찰서,지구대,파출소']], on='지역')
crime_df

,2017,2018,2019,2020,2021,중앙값,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소"
지역,,,,,,,,,,,
서울,352471,341288,340504,318320,274830,340504.0,270.0,271.0,272.0,272.0,273.0
부산,130148,126230,128725,127673,113558,127673.0,107.0,107.0,109.0,109.0,109.0
대구,82281,79489,82905,79182,72339,79489.0,70.0,71.0,72.0,72.0,72.0
인천,101526,94605,101289,96340,85432,96340.0,84.0,84.0,85.0,85.0,85.0
광주,54627,51223,52827,49869,44610,51223.0,45.0,45.0,45.0,45.0,45.0
대전,50357,48184,47929,46960,41921,47929.0,33.0,33.0,34.0,36.0,37.0
울산,26558,25323,25814,24911,23463,25323.0,34.0,34.0,34.0,34.0,35.0
세종,5023,5331,6300,6651,6147,6147.0,1.0,1.0,10.0,10.0,10.0
경기,459893,429953,433498,429487,388004,429953.0,371.0,373.0,380.0,382.0,389.0
강원,58900,52495,53289,51544,45398,52495.0,122.0,122.0,122.0,122.0,122.0
충북,56944,53659,53801,51645,47020,53659.0,90.0,90.0,91.0,91.0,91.0
충남,73772,75405,73817,71847,63290,73772.0,136.0,137.0,139.0,129.0,130.0
전북,57238,56353,58012,56210,52587,56353.0,178.0,178.0,179.0,179.0,179.0
전남,64618,65932,68566,67448,60205,65932.0,226.0,226.0,227.0,227.0,227.0
경북,89049,85371,88098,83790,75300,85371.0,255.0,256.0,257.0,258.0,258.0
경남,127294,117243,123992,123406,111102,123406.0,193.0,193.0,195.0,197.0,199.0
제주,34177,30106,28318,29296,26499,29296.0,27.0,28.0,29.0,29.0,29.0

In [55]:
# 지역별 범죄 발생 건수와 합치기 (정규화 데이터)
crime_df_minmax = crime_minmax.merge(police_minmax[['17년도 경찰서,지구대,파출소', '18년도 경찰서,지구대,파출소', '19년도 경찰서,지구대,파출소',
                                 '20년도 경찰서,지구대,파출소','21년도 경찰서,지구대,파출소']], on='지역')
crime_df_minmax

,2017,2018,2019,2020,2021,중앙값,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소"
지역,,,,,,,,,,,
서울,0.763840,0.791191,0.782316,0.737092,0.703622,0.788939,0.727027,0.725806,0.708108,0.704301,0.693931
부산,0.275079,0.284721,0.286577,0.286215,0.281286,0.286749,0.286486,0.284946,0.267568,0.266129,0.261214
대구,0.169846,0.174645,0.179320,0.171535,0.173342,0.173056,0.186486,0.188172,0.167568,0.166667,0.163588
인천,0.212155,0.210243,0.222354,0.212113,0.207630,0.212817,0.224324,0.223118,0.202703,0.201613,0.197889
광주,0.109051,0.108077,0.108912,0.102210,0.100726,0.106360,0.118919,0.118280,0.094595,0.094086,0.092348
대전,0.099664,0.100920,0.097447,0.095330,0.093684,0.098588,0.086486,0.086022,0.064865,0.069892,0.071240
울산,0.047343,0.047082,0.045679,0.043185,0.045347,0.045247,0.089189,0.088710,0.064865,0.064516,0.065963
세종,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
경기,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
강원,0.118445,0.111073,0.109993,0.106171,0.102790,0.109361,0.327027,0.325269,0.302703,0.301075,0.295515
충북,0.114145,0.113814,0.111192,0.106410,0.107037,0.112108,0.240541,0.239247,0.218919,0.217742,0.213720
충남,0.151140,0.165027,0.158046,0.154187,0.149645,0.159566,0.364865,0.365591,0.348649,0.319892,0.316623
전북,0.114791,0.120159,0.121049,0.117206,0.121616,0.118465,0.478378,0.475806,0.456757,0.454301,0.445910
전남,0.131015,0.142718,0.145754,0.143784,0.141566,0.141067,0.608108,0.604839,0.586486,0.583333,0.572559
경북,0.184725,0.188497,0.191476,0.182432,0.181097,0.186935,0.686486,0.685484,0.667568,0.666667,0.654354
경남,0.268804,0.263557,0.275498,0.276124,0.274854,0.276681,0.518919,0.516129,0.500000,0.502688,0.498681
제주,0.064093,0.058346,0.051541,0.053555,0.053297,0.054622,0.070270,0.072581,0.051351,0.051075,0.050132

# CCTV 설치 운영 현황

In [56]:
cctv = pd.read_csv('./CCTV_설치_운영_현황_20230913163452.csv', encoding='euc_kr')

# 원본 훼손 방지를 위해 copy
cctv2 = cctv.copy()
cctv2

,구분(1),구분(2),전체 사업체 (개),CCTV 설치/운영 사업체 수 (개),CCTV 설치/운영 사업체 비율 (%),CCTV 미설치/미운영 사업체 수 (개),CCTV 미설치/미운영 사업체 비율 (%),CCTV 설치/운영 대수 (대)
0,전체,소계,3676875,1198587,32.6,2478288,67.4,8076415
1,지역별,서울,785093,226706,28.9,558387,71.1,1815847
2,지역별,부산,271983,58222,21.4,213761,78.6,242086
3,지역별,대구,195717,68775,35.1,126942,64.9,616636
4,지역별,인천,177990,70216,39.4,107774,60.6,334862
5,지역별,광주,108808,57166,52.5,51642,47.5,283180
6,지역별,대전,105676,37585,35.6,68091,64.4,222793
7,지역별,울산,76993,18103,23.5,58890,76.5,118350
8,지역별,세종,7468,1767,23.7,5701,76.3,174474
9,지역별,경기,773216,295143,38.2,478073,61.8,1937975
10,지역별,강원,129403,34022,26.3,95381,73.7,278993
11,지역별,충북,115611,42622,36.9,72989,63.1,244699
12,지역별,충남,145998,53927,36.9,92071,63.1,267057
13,지역별,전북,139656,41866,30.0,97790,70.0,213388
14,지역별,전남,136889,54640,39.9,82249,60.1,272790
15,지역별,경북,205734,58090,28.2,147644,71.8,350303
16,지역별,경남,248913,67339,27.1,181574,72.9,651360
17,지역별,제주,51727,12399,24.0,39328,76.0,51622
18,조직형태별,개인사업체,2986640,855335,28.6,2131305,71.4,3253983
19,조직형태별,회사법인,454080,209819,46.2,244261,53.8,1866514
20,조직형태별,회사이외 법인,67428,42810,63.5,24618,36.5,706809
21,조직형태별,비법인단체,129846,63017,48.5,66829,51.5,1515315
22,조직형태별,국가/지방자치단체,38881,27606,71.0,11275,29.0,733794

In [57]:
# 불필요한 columns 제거
cctv2 = cctv2.drop(['구분(1)','전체 사업체 (개)','CCTV 미설치/미운영 사업체 수 (개)', 'CCTV 미설치/미운영 사업체 비율 (%)'], axis=1)
# 불필요한 rows 제거
cctv2 = cctv2.drop([0, 18, 19, 20, 21, 22], axis=0)
cctv2

   구분(2)  CCTV 설치/운영 사업체 수 (개)  CCTV 설치/운영 사업체 비율 (%)  CCTV 설치/운영 대수 (대)
1     서울                226706                   28.9            1815847
2     부산                 58222                   21.4             242086
3     대구                 68775                   35.1             616636
4     인천                 70216                   39.4             334862
5     광주                 57166                   52.5             283180
6     대전                 37585                   35.6             222793
7     울산                 18103                   23.5             118350
8     세종                  1767                   23.7             174474
9     경기                295143                   38.2            1937975
10    강원                 34022                   26.3             278993
11    충북                 42622                   36.9             244699
12    충남                 53927                   36.9             267057
13    전북                 41866                   30.0             213388
14    전남                 54640                   39.9             272790
15    경북                 58090                   28.2             350303
16    경남                 67339                   27.1             651360
17    제주                 12399                   24.0              51622

In [58]:
cctv2.columns = ['지역', 'CCTV 설치/운영 사업체 수 (개)', 'CCTV 설치/운영 사업체 비율 (%)', 'CCTV 설치/운영 대수 (대)']
cctv2 = cctv2.set_index(["지역"])
cctv2

    CCTV 설치/운영 사업체 수 (개)  CCTV 설치/운영 사업체 비율 (%)  CCTV 설치/운영 대수 (대)
지역
서울                226706                   28.9            1815847
부산                 58222                   21.4             242086
대구                 68775                   35.1             616636
인천                 70216                   39.4             334862
광주                 57166                   52.5             283180
대전                 37585                   35.6             222793
울산                 18103                   23.5             118350
세종                  1767                   23.7             174474
경기                295143                   38.2            1937975
강원                 34022                   26.3             278993
충북                 42622                   36.9             244699
충남                 53927                   36.9             267057
전북                 41866                   30.0             213388
전남                 54640                   39.9             272790
경북                 58090                   28.2             350303
경남                 67339                   27.1             651360
제주                 12399                   24.0              51622

In [59]:
# 결측치 확인
pd.isna(cctv2)

    CCTV 설치/운영 사업체 수 (개)  CCTV 설치/운영 사업체 비율 (%)  CCTV 설치/운영 대수 (대)
지역
서울                 False                  False              False
부산                 False                  False              False
대구                 False                  False              False
인천                 False                  False              False
광주                 False                  False              False
대전                 False                  False              False
울산                 False                  False              False
세종                 False                  False              False
경기                 False                  False              False
강원                 False                  False              False
충북                 False                  False              False
충남                 False                  False              False
전북                 False                  False              False
전남                 False                  False              False
경북                 False                  False              False
경남                 False                  False              False
제주                 False                  False              False

In [60]:
# 수의 차이
# 각 항목의 최소값을 0, 최대값을 1로 설정하고 범위 안에서 비교

col =  ['CCTV 설치/운영 사업체 수 (개)', 'CCTV 설치/운영 사업체 비율 (%)', 'CCTV 설치/운영 대수 (대)']
x = cctv2[col].values
scaler = preprocessing.MinMaxScaler()             # 정규화 시켜준다.
x_scale =scaler.fit_transform(x.astype(float))
cctv_minmax = pd.DataFrame(x_scale, columns=col, index = cctv2.index)
cctv_minmax

    CCTV 설치/운영 사업체 수 (개)  CCTV 설치/운영 사업체 비율 (%)  CCTV 설치/운영 대수 (대)
지역
서울              0.766726               0.241158           0.935257
부산              0.192432               0.000000           0.100969
대구              0.228403               0.440514           0.299527
인천              0.233315               0.578778           0.150152
광주              0.188833               1.000000           0.122754
대전              0.122089               0.456592           0.090742
울산              0.055683               0.067524           0.035374
세종              0.000000               0.073955           0.065127
경기              1.000000               0.540193           1.000000
강원              0.109944               0.157556           0.120535
충북              0.139258               0.498392           0.102355
충남              0.177792               0.498392           0.114207
전북              0.136681               0.276527           0.085756
전남              0.180223               0.594855           0.117246
경북              0.191982               0.218650           0.158338
경남              0.223508               0.183280           0.317935
제주              0.036240               0.083601           0.000000

In [61]:
# 지역별 범죄 발생 건수와 합치기 (일반 데이터)
# CCTV 운영대수 열만 가져와서 합치기

crime_df = crime_df.merge(cctv2[['CCTV 설치/운영 대수 (대)']], on='지역')
crime_df

,2017,2018,2019,2020,2021,중앙값,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소",CCTV 설치/운영 대수 (대)
지역,,,,,,,,,,,,
서울,352471,341288,340504,318320,274830,340504.0,270.0,271.0,272.0,272.0,273.0,1815847
부산,130148,126230,128725,127673,113558,127673.0,107.0,107.0,109.0,109.0,109.0,242086
대구,82281,79489,82905,79182,72339,79489.0,70.0,71.0,72.0,72.0,72.0,616636
인천,101526,94605,101289,96340,85432,96340.0,84.0,84.0,85.0,85.0,85.0,334862
광주,54627,51223,52827,49869,44610,51223.0,45.0,45.0,45.0,45.0,45.0,283180
대전,50357,48184,47929,46960,41921,47929.0,33.0,33.0,34.0,36.0,37.0,222793
울산,26558,25323,25814,24911,23463,25323.0,34.0,34.0,34.0,34.0,35.0,118350
세종,5023,5331,6300,6651,6147,6147.0,1.0,1.0,10.0,10.0,10.0,174474
경기,459893,429953,433498,429487,388004,429953.0,371.0,373.0,380.0,382.0,389.0,1937975
강원,58900,52495,53289,51544,45398,52495.0,122.0,122.0,122.0,122.0,122.0,278993
충북,56944,53659,53801,51645,47020,53659.0,90.0,90.0,91.0,91.0,91.0,244699
충남,73772,75405,73817,71847,63290,73772.0,136.0,137.0,139.0,129.0,130.0,267057
전북,57238,56353,58012,56210,52587,56353.0,178.0,178.0,179.0,179.0,179.0,213388
전남,64618,65932,68566,67448,60205,65932.0,226.0,226.0,227.0,227.0,227.0,272790
경북,89049,85371,88098,83790,75300,85371.0,255.0,256.0,257.0,258.0,258.0,350303
경남,127294,117243,123992,123406,111102,123406.0,193.0,193.0,195.0,197.0,199.0,651360
제주,34177,30106,28318,29296,26499,29296.0,27.0,28.0,29.0,29.0,29.0,51622

In [62]:
# 지역별 범죄 발생 건수와 합치기 (정규화 데이터)
# CCTV 운영대수 열만 가져와서 합치기

crime_df_minmax = crime_df_minmax.merge(cctv_minmax[['CCTV 설치/운영 대수 (대)']], on='지역')
crime_df_minmax

,2017,2018,2019,2020,2021,중앙값,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소",CCTV 설치/운영 대수 (대)
지역,,,,,,,,,,,,
서울,0.763840,0.791191,0.782316,0.737092,0.703622,0.788939,0.727027,0.725806,0.708108,0.704301,0.693931,0.935257
부산,0.275079,0.284721,0.286577,0.286215,0.281286,0.286749,0.286486,0.284946,0.267568,0.266129,0.261214,0.100969
대구,0.169846,0.174645,0.179320,0.171535,0.173342,0.173056,0.186486,0.188172,0.167568,0.166667,0.163588,0.299527
인천,0.212155,0.210243,0.222354,0.212113,0.207630,0.212817,0.224324,0.223118,0.202703,0.201613,0.197889,0.150152
광주,0.109051,0.108077,0.108912,0.102210,0.100726,0.106360,0.118919,0.118280,0.094595,0.094086,0.092348,0.122754
대전,0.099664,0.100920,0.097447,0.095330,0.093684,0.098588,0.086486,0.086022,0.064865,0.069892,0.071240,0.090742
울산,0.047343,0.047082,0.045679,0.043185,0.045347,0.045247,0.089189,0.088710,0.064865,0.064516,0.065963,0.035374
세종,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.065127
경기,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
강원,0.118445,0.111073,0.109993,0.106171,0.102790,0.109361,0.327027,0.325269,0.302703,0.301075,0.295515,0.120535
충북,0.114145,0.113814,0.111192,0.106410,0.107037,0.112108,0.240541,0.239247,0.218919,0.217742,0.213720,0.102355
충남,0.151140,0.165027,0.158046,0.154187,0.149645,0.159566,0.364865,0.365591,0.348649,0.319892,0.316623,0.114207
전북,0.114791,0.120159,0.121049,0.117206,0.121616,0.118465,0.478378,0.475806,0.456757,0.454301,0.445910,0.085756
전남,0.131015,0.142718,0.145754,0.143784,0.141566,0.141067,0.608108,0.604839,0.586486,0.583333,0.572559,0.117246
경북,0.184725,0.188497,0.191476,0.182432,0.181097,0.186935,0.686486,0.685484,0.667568,0.666667,0.654354,0.158338
경남,0.268804,0.263557,0.275498,0.276124,0.274854,0.276681,0.518919,0.516129,0.500000,0.502688,0.498681,0.317935
제주,0.064093,0.058346,0.051541,0.053555,0.053297,0.054622,0.070270,0.072581,0.051351,0.051075,0.050132,0.000000

# 외국인 비율

In [63]:
foreigner = pd.read_csv('./외국인__시군구_20230913163658.csv', encoding='euc_kr')

# 원본 훼손 방지를 위해 copy
foreigner2 = foreigner.copy()
foreigner2

    행정구역별(시군구)     2017     2018     2019     2020     2021
0   행정구역별(시군구)      외국인      외국인      외국인      외국인      외국인
1           전국  1479247  1651561  1778918  1695643  1649967
2           읍부   168383   196488   218491   208405   206294
3           면부   242782   266223   282939   256636   241648
4           동부  1068082  1188850  1277488  1230602  1202025
5        서울특별시   343927   374425   390177   366454   347080
6        부산광역시    48808    55506    60502    54914    53334
7        대구광역시    31365    35280    40092    37398    36956
8        인천광역시    79170    88489   100174    99212   100379
9        광주광역시    26052    29833    33286    30573    30497
10       대전광역시    20534    22858    25147    22928    23263
11       울산광역시    26601    27162    28604    26895    25388
12     세종특별자치시     5290     6486     7829     7244     6991
13         경기도   497089   558197   594795   583462   571204
14         강원도    20996    24149    27008    24654    24582
15        충청북도    48237    54835    59783    57094    56631
16        충청남도    84752    95838   104018    99166    98612
17        전라북도    33764    39131    43960    42366    41047
18        전라남도    37212    42520    47778    45236    44159
19        경상북도    63978    74071    81840    74547    72798
20        경상남도    91072    97494   105908    96669    91836
21     제주특별자치도    20400    25287    28017    26831    25210

In [64]:
foreigner2 = foreigner2.drop([0, 1, 2, 3, 4], axis=0)
foreigner2 = foreigner2.drop('행정구역별(시군구)',axis=1)
foreigner2

      2017    2018    2019    2020    2021
5   343927  374425  390177  366454  347080
6    48808   55506   60502   54914   53334
7    31365   35280   40092   37398   36956
8    79170   88489  100174   99212  100379
9    26052   29833   33286   30573   30497
10   20534   22858   25147   22928   23263
11   26601   27162   28604   26895   25388
12    5290    6486    7829    7244    6991
13  497089  558197  594795  583462  571204
14   20996   24149   27008   24654   24582
15   48237   54835   59783   57094   56631
16   84752   95838  104018   99166   98612
17   33764   39131   43960   42366   41047
18   37212   42520   47778   45236   44159
19   63978   74071   81840   74547   72798
20   91072   97494  105908   96669   91836
21   20400   25287   28017   26831   25210

In [65]:
# 열 이름 변경
foreigner2 = foreigner2.rename(columns={'2017':'2017_외국인','2018':'2018_외국인','2019':'2019_외국인','2020':'2020_외국인','2021':'2021_외국인'})

# 열 추가
foreigner2['지역'] = ['서울','부산','대구','인천','광주','대전','울산','세종','경기','강원',
                        '충북','충남','전북','전남','경북','경남','제주']

# 열 순서 변경
foreigner2 = foreigner2.reindex(columns=['지역','2017_외국인','2018_외국인', '2019_외국인', '2020_외국인', '2021_외국인'])

# index 지정
foreigner2 = foreigner2.set_index(['지역'])
foreigner2

   2017_외국인 2018_외국인 2019_외국인 2020_외국인 2021_외국인
지역
서울   343927   374425   390177   366454   347080
부산    48808    55506    60502    54914    53334
대구    31365    35280    40092    37398    36956
인천    79170    88489   100174    99212   100379
광주    26052    29833    33286    30573    30497
대전    20534    22858    25147    22928    23263
울산    26601    27162    28604    26895    25388
세종     5290     6486     7829     7244     6991
경기   497089   558197   594795   583462   571204
강원    20996    24149    27008    24654    24582
충북    48237    54835    59783    57094    56631
충남    84752    95838   104018    99166    98612
전북    33764    39131    43960    42366    41047
전남    37212    42520    47778    45236    44159
경북    63978    74071    81840    74547    72798
경남    91072    97494   105908    96669    91836
제주    20400    25287    28017    26831    25210

In [66]:
foreigner2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17 entries, 서울 to 제주
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   2017_외국인  17 non-null     object
 1   2018_외국인  17 non-null     object
 2   2019_외국인  17 non-null     object
 3   2020_외국인  17 non-null     object
 4   2021_외국인  17 non-null     object
dtypes: object(5)
memory usage: 816.0+ bytes

In [67]:
# 결측치 확인
pd.isna(foreigner2)

    2017_외국인  2018_외국인  2019_외국인  2020_외국인  2021_외국인
지역
서울     False     False     False     False     False
부산     False     False     False     False     False
대구     False     False     False     False     False
인천     False     False     False     False     False
광주     False     False     False     False     False
대전     False     False     False     False     False
울산     False     False     False     False     False
세종     False     False     False     False     False
경기     False     False     False     False     False
강원     False     False     False     False     False
충북     False     False     False     False     False
충남     False     False     False     False     False
전북     False     False     False     False     False
전남     False     False     False     False     False
경북     False     False     False     False     False
경남     False     False     False     False     False
제주     False     False     False     False     False

In [68]:
# 수의 차이
# 각 항목의 최소값을 0, 최대값을 1로 설정하고 범위 안에서 비교

col =  ['2017_외국인','2018_외국인', '2019_외국인', '2020_외국인', '2021_외국인']
x = foreigner2[col].values
scaler = preprocessing.MinMaxScaler()             # 정규화 시켜준다.
x_scale =scaler.fit_transform(x.astype(float))
foreigner_minmax = pd.DataFrame(x_scale, columns=col, index = foreigner2.index)
foreigner_minmax

    2017_외국인  2018_외국인  2019_외국인  2020_외국인  2021_외국인
지역
서울  0.688568  0.666905  0.651397  0.623393  0.602767
부산  0.088487  0.088851  0.089738  0.082729  0.082137
대구  0.053020  0.052190  0.054966  0.052331  0.053109
인천  0.150224  0.148634  0.157326  0.159606  0.165519
광주  0.042216  0.042317  0.043370  0.040486  0.041662
대전  0.030996  0.029675  0.029504  0.027219  0.028840
울산  0.043333  0.037476  0.035394  0.034103  0.032606
세종  0.000000  0.000000  0.000000  0.000000  0.000000
경기  1.000000  1.000000  1.000000  1.000000  1.000000
강원  0.031936  0.032015  0.032675  0.030214  0.031178
충북  0.087326  0.087635  0.088513  0.086512  0.087981
충남  0.161574  0.161954  0.163875  0.159526  0.162387
전북  0.057898  0.059170  0.061556  0.060953  0.060360
전남  0.064909  0.065313  0.068060  0.065933  0.065876
경북  0.119333  0.122501  0.126091  0.116801  0.116635
경남  0.174425  0.164956  0.167095  0.155193  0.150378
제주  0.030724  0.034078  0.034394  0.033992  0.032291

In [69]:
# 지역별 범죄 발생 건수와 합치기 (일반 데이터)
crime_df = crime_df.merge(foreigner2[['2017_외국인','2018_외국인', '2019_외국인', '2020_외국인', '2021_외국인']], on='지역')
crime_df

,2017,2018,2019,2020,2021,중앙값,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소",CCTV 설치/운영 대수 (대),2017_외국인,2018_외국인,2019_외국인,2020_외국인,2021_외국인
지역,,,,,,,,,,,,,,,,,
서울,352471,341288,340504,318320,274830,340504.0,270.0,271.0,272.0,272.0,273.0,1815847,343927,374425,390177,366454,347080
부산,130148,126230,128725,127673,113558,127673.0,107.0,107.0,109.0,109.0,109.0,242086,48808,55506,60502,54914,53334
대구,82281,79489,82905,79182,72339,79489.0,70.0,71.0,72.0,72.0,72.0,616636,31365,35280,40092,37398,36956
인천,101526,94605,101289,96340,85432,96340.0,84.0,84.0,85.0,85.0,85.0,334862,79170,88489,100174,99212,100379
광주,54627,51223,52827,49869,44610,51223.0,45.0,45.0,45.0,45.0,45.0,283180,26052,29833,33286,30573,30497
대전,50357,48184,47929,46960,41921,47929.0,33.0,33.0,34.0,36.0,37.0,222793,20534,22858,25147,22928,23263
울산,26558,25323,25814,24911,23463,25323.0,34.0,34.0,34.0,34.0,35.0,118350,26601,27162,28604,26895,25388
세종,5023,5331,6300,6651,6147,6147.0,1.0,1.0,10.0,10.0,10.0,174474,5290,6486,7829,7244,6991
경기,459893,429953,433498,429487,388004,429953.0,371.0,373.0,380.0,382.0,389.0,1937975,497089,558197,594795,583462,571204
강원,58900,52495,53289,51544,45398,52495.0,122.0,122.0,122.0,122.0,122.0,278993,20996,24149,27008,24654,24582
충북,56944,53659,53801,51645,47020,53659.0,90.0,90.0,91.0,91.0,91.0,244699,48237,54835,59783,57094,56631
충남,73772,75405,73817,71847,63290,73772.0,136.0,137.0,139.0,129.0,130.0,267057,84752,95838,104018,99166,98612
전북,57238,56353,58012,56210,52587,56353.0,178.0,178.0,179.0,179.0,179.0,213388,33764,39131,43960,42366,41047
전남,64618,65932,68566,67448,60205,65932.0,226.0,226.0,227.0,227.0,227.0,272790,37212,42520,47778,45236,44159
경북,89049,85371,88098,83790,75300,85371.0,255.0,256.0,257.0,258.0,258.0,350303,63978,74071,81840,74547,72798
경남,127294,117243,123992,123406,111102,123406.0,193.0,193.0,195.0,197.0,199.0,651360,91072,97494,105908,96669,91836
제주,34177,30106,28318,29296,26499,29296.0,27.0,28.0,29.0,29.0,29.0,51622,20400,25287,28017,26831,25210

In [70]:
# 지역별 범죄 발생 건수와 합치기 (정규화 데이터)
crime_df_minmax = crime_df_minmax.merge(foreigner_minmax[['2017_외국인','2018_외국인', '2019_외국인', '2020_외국인', '2021_외국인']], on='지역')
crime_df_minmax

,2017,2018,2019,2020,2021,중앙값,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소","21년도 경찰서,지구대,파출소",CCTV 설치/운영 대수 (대),2017_외국인,2018_외국인,2019_외국인,2020_외국인,2021_외국인
지역,,,,,,,,,,,,,,,,,
서울,0.763840,0.791191,0.782316,0.737092,0.703622,0.788939,0.727027,0.725806,0.708108,0.704301,0.693931,0.935257,0.688568,0.666905,0.651397,0.623393,0.602767
부산,0.275079,0.284721,0.286577,0.286215,0.281286,0.286749,0.286486,0.284946,0.267568,0.266129,0.261214,0.100969,0.088487,0.088851,0.089738,0.082729,0.082137
대구,0.169846,0.174645,0.179320,0.171535,0.173342,0.173056,0.186486,0.188172,0.167568,0.166667,0.163588,0.299527,0.053020,0.052190,0.054966,0.052331,0.053109
인천,0.212155,0.210243,0.222354,0.212113,0.207630,0.212817,0.224324,0.223118,0.202703,0.201613,0.197889,0.150152,0.150224,0.148634,0.157326,0.159606,0.165519
광주,0.109051,0.108077,0.108912,0.102210,0.100726,0.106360,0.118919,0.118280,0.094595,0.094086,0.092348,0.122754,0.042216,0.042317,0.043370,0.040486,0.041662
대전,0.099664,0.100920,0.097447,0.095330,0.093684,0.098588,0.086486,0.086022,0.064865,0.069892,0.071240,0.090742,0.030996,0.029675,0.029504,0.027219,0.028840
울산,0.047343,0.047082,0.045679,0.043185,0.045347,0.045247,0.089189,0.088710,0.064865,0.064516,0.065963,0.035374,0.043333,0.037476,0.035394,0.034103,0.032606
세종,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.065127,0.000000,0.000000,0.000000,0.000000,0.000000
경기,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
강원,0.118445,0.111073,0.109993,0.106171,0.102790,0.109361,0.327027,0.325269,0.302703,0.301075,0.295515,0.120535,0.031936,0.032015,0.032675,0.030214,0.031178
충북,0.114145,0.113814,0.111192,0.106410,0.107037,0.112108,0.240541,0.239247,0.218919,0.217742,0.213720,0.102355,0.087326,0.087635,0.088513,0.086512,0.087981
충남,0.151140,0.165027,0.158046,0.154187,0.149645,0.159566,0.364865,0.365591,0.348649,0.319892,0.316623,0.114207,0.161574,0.161954,0.163875,0.159526,0.162387
전북,0.114791,0.120159,0.121049,0.117206,0.121616,0.118465,0.478378,0.475806,0.456757,0.454301,0.445910,0.085756,0.057898,0.059170,0.061556,0.060953,0.060360
전남,0.131015,0.142718,0.145754,0.143784,0.141566,0.141067,0.608108,0.604839,0.586486,0.583333,0.572559,0.117246,0.064909,0.065313,0.068060,0.065933,0.065876
경북,0.184725,0.188497,0.191476,0.182432,0.181097,0.186935,0.686486,0.685484,0.667568,0.666667,0.654354,0.158338,0.119333,0.122501,0.126091,0.116801,0.116635
경남,0.268804,0.263557,0.275498,0.276124,0.274854,0.276681,0.518919,0.516129,0.500000,0.502688,0.498681,0.317935,0.174425,0.164956,0.167095,0.155193,0.150378
제주,0.064093,0.058346,0.051541,0.053555,0.053297,0.054622,0.070270,0.072581,0.051351,0.051075,0.050132,0.000000,0.030724,0.034078,0.034394,0.033992,0.032291

# 평균 연령

In [71]:
age = pd.read_csv('./201701_202112_주민등록인구기타현황(평균연령)_avgAge.csv', encoding='euc_kr')

# 원본 훼손 방지를 위해 copy
age2 = age.copy()
age2

,행정구역,2017년01월_남자 평균연령,2017년01월_여자 평균연령,2017년01월_평균연령,2017년02월_남자 평균연령,2017년02월_여자 평균연령,2017년02월_평균연령,2017년03월_남자 평균연령,2017년03월_여자 평균연령,2017년03월_평균연령,...,2021년09월_평균연령,2021년10월_남자 평균연령,2021년10월_여자 평균연령,2021년10월_평균연령,2021년11월_남자 평균연령,2021년11월_여자 평균연령,2021년11월_평균연령,2021년12월_남자 평균연령,2021년12월_여자 평균연령,2021년12월_평균연령
0,전국 (1000000000),39.9,42.2,41.1,40.0,42.3,41.1,40.0,42.3,41.2,...,43.6,42.5,44.7,43.6,42.5,44.8,43.7,42.6,44.8,43.7
1,서울특별시 (1100000000),40.3,42.1,41.2,40.4,42.1,41.3,40.4,42.1,41.3,...,43.4,42.7,44.3,43.5,42.7,44.3,43.5,42.7,44.3,43.6
2,부산광역시 (2600000000),41.6,44.1,42.8,41.6,44.1,42.9,41.7,44.2,42.9,...,45.4,44.2,46.7,45.5,44.2,46.7,45.5,44.3,46.8,45.6
3,대구광역시 (2700000000),39.8,42.6,41.2,39.8,42.6,41.2,39.9,42.7,41.3,...,43.9,42.5,45.3,44.0,42.6,45.4,44.0,42.6,45.4,44.1
4,인천광역시 (2800000000),39.0,40.9,40.0,39.1,40.9,40.0,39.2,41.0,40.1,...,42.7,41.8,43.7,42.8,41.8,43.8,42.8,41.9,43.8,42.8
5,광주광역시 (2900000000),37.9,40.3,39.1,38.0,40.3,39.2,38.0,40.4,39.2,...,41.7,40.6,42.9,41.8,40.6,43.0,41.8,40.7,43.0,41.9
6,대전광역시 (3000000000),38.5,40.6,39.5,38.5,40.6,39.6,38.6,40.7,39.6,...,42.3,41.3,43.4,42.3,41.3,43.5,42.4,41.4,43.5,42.4
7,울산광역시 (3100000000),38.1,39.9,39.0,38.1,40.0,39.0,38.2,40.1,39.1,...,42.1,41.2,43.2,42.2,41.3,43.2,42.2,41.3,43.3,42.3
8,세종특별자치시 (3600000000),36.1,37.5,36.8,36.1,37.5,36.8,36.1,37.4,36.8,...,37.7,37.1,38.2,37.7,37.2,38.3,37.7,37.2,38.3,37.7
9,경기도 (4100000000),38.5,40.2,39.3,38.5,40.2,39.4,38.6,40.3,39.4,...,41.8,40.9,42.7,41.8,41.0,42.7,41.8,41.0,42.8,41.9
10,강원도 (4200000000),42.0,45.1,43.5,42.1,45.2,43.6,42.1,45.2,43.7,...,46.3,44.9,47.9,46.4,44.9,47.9,46.4,44.9,48.0,46.4
11,충청북도 (4300000000),40.5,43.3,41.9,40.6,43.3,42.0,40.7,43.4,42.0,...,44.5,43.2,46.0,44.6,43.3,46.0,44.6,43.3,46.1,44.7
12,충청남도 (4400000000),40.7,43.5,42.1,40.8,43.6,42.2,40.8,43.6,42.2,...,44.6,43.3,46.1,44.7,43.3,46.1,44.7,43.4,46.2,44.8
13,전라북도 (4500000000),41.5,44.7,43.1,41.5,44.8,43.2,41.6,44.9,43.2,...,46.0,44.5,47.7,46.1,44.5,47.7,46.1,44.6,47.8,46.2
14,전라남도 (4600000000),42.6,46.4,44.5,42.7,46.5,44.6,42.7,46.6,44.7,...,47.3,45.5,49.2,47.3,45.5,49.2,47.4,45.6,49.3,47.4
15,경상북도 (4700000000),42.1,45.6,43.8,42.1,45.7,43.9,42.2,45.8,44.0,...,46.7,45.0,48.6,46.8,45.1,48.6,46.8,45.1,48.7,46.9
16,경상남도 (4800000000),39.9,42.9,41.4,40.0,43.0,41.5,40.0,43.1,41.5,...,44.4,42.9,45.9,44.4,43.0,46.0,44.5,43.1,46.0,44.5
17,제주특별자치도 (5000000000),39.2,41.9,40.6,39.3,41.9,40.6,39.3,42.0,40.6,...,42.7,41.6,44.0,42.8,41.6,44.0,42.8,41.7,44.1,42.9

In [72]:
# 불필요한 열 삭제(성별 평균 연령)

for i in range(2017,2022):
    i = str(i)
    for j in range(1,10):
        j=str(j)
        age2 = age2.drop([i+'년0'+j+'월_남자 평균연령', i+'년0'+j+'월_여자 평균연령'],axis=1)

    for k in range(10,13):
        k=str(k)
        age2 = age2.drop([i+'년'+k+'월_남자 평균연령', i+'년'+k+'월_여자 평균연령'],axis=1)
age2

,행정구역,2017년01월_평균연령,2017년02월_평균연령,2017년03월_평균연령,2017년04월_평균연령,2017년05월_평균연령,2017년06월_평균연령,2017년07월_평균연령,2017년08월_평균연령,2017년09월_평균연령,...,2021년03월_평균연령,2021년04월_평균연령,2021년05월_평균연령,2021년06월_평균연령,2021년07월_평균연령,2021년08월_평균연령,2021년09월_평균연령,2021년10월_평균연령,2021년11월_평균연령,2021년12월_평균연령
0,전국 (1000000000),41.1,41.1,41.2,41.2,41.2,41.3,41.3,41.3,41.4,...,43.3,43.4,43.4,43.4,43.5,43.5,43.6,43.6,43.7,43.7
1,서울특별시 (1100000000),41.2,41.3,41.3,41.3,41.4,41.4,41.4,41.5,41.5,...,43.2,43.3,43.3,43.3,43.4,43.4,43.4,43.5,43.5,43.6
2,부산광역시 (2600000000),42.8,42.9,42.9,43.0,43.0,43.1,43.1,43.1,43.2,...,45.2,45.2,45.3,45.3,45.3,45.4,45.4,45.5,45.5,45.6
3,대구광역시 (2700000000),41.2,41.2,41.3,41.3,41.4,41.4,41.4,41.5,41.5,...,43.7,43.7,43.8,43.8,43.8,43.9,43.9,44.0,44.0,44.1
4,인천광역시 (2800000000),40.0,40.0,40.1,40.1,40.2,40.2,40.2,40.3,40.3,...,42.5,42.5,42.6,42.6,42.6,42.7,42.7,42.8,42.8,42.8
5,광주광역시 (2900000000),39.1,39.2,39.2,39.3,39.3,39.3,39.4,39.4,39.5,...,41.5,41.6,41.6,41.6,41.7,41.7,41.7,41.8,41.8,41.9
6,대전광역시 (3000000000),39.5,39.6,39.6,39.7,39.7,39.8,39.8,39.8,39.9,...,42.1,42.1,42.1,42.2,42.2,42.3,42.3,42.3,42.4,42.4
7,울산광역시 (3100000000),39.0,39.0,39.1,39.2,39.2,39.2,39.3,39.3,39.4,...,41.8,41.8,41.9,41.9,42.0,42.1,42.1,42.2,42.2,42.3
8,세종특별자치시 (3600000000),36.8,36.8,36.8,36.7,36.7,36.7,36.7,36.7,36.7,...,37.4,37.5,37.5,37.5,37.6,37.6,37.7,37.7,37.7,37.7
9,경기도 (4100000000),39.3,39.4,39.4,39.5,39.5,39.5,39.6,39.6,39.7,...,41.5,41.5,41.6,41.6,41.7,41.7,41.8,41.8,41.8,41.9
10,강원도 (4200000000),43.5,43.6,43.7,43.7,43.8,43.8,43.8,43.9,43.9,...,46.1,46.1,46.1,46.2,46.2,46.3,46.3,46.4,46.4,46.4
11,충청북도 (4300000000),41.9,42.0,42.0,42.0,42.1,42.1,42.2,42.2,42.2,...,44.3,44.3,44.4,44.4,44.4,44.5,44.5,44.6,44.6,44.7
12,충청남도 (4400000000),42.1,42.2,42.2,42.2,42.3,42.3,42.3,42.4,42.4,...,44.4,44.4,44.4,44.5,44.5,44.6,44.6,44.7,44.7,44.8
13,전라북도 (4500000000),43.1,43.2,43.2,43.3,43.3,43.4,43.4,43.4,43.5,...,45.8,45.8,45.8,45.9,45.9,46.0,46.0,46.1,46.1,46.2
14,전라남도 (4600000000),44.5,44.6,44.7,44.7,44.7,44.8,44.8,44.9,44.9,...,47.0,47.0,47.1,47.1,47.2,47.2,47.3,47.3,47.4,47.4
15,경상북도 (4700000000),43.8,43.9,44.0,44.0,44.1,44.1,44.1,44.2,44.2,...,46.5,46.5,46.6,46.6,46.6,46.7,46.7,46.8,46.8,46.9
16,경상남도 (4800000000),41.4,41.5,41.5,41.6,41.6,41.6,41.7,41.7,41.8,...,44.1,44.1,44.2,44.2,44.2,44.3,44.4,44.4,44.5,44.5
17,제주특별자치도 (5000000000),40.6,40.6,40.6,40.7,40.7,40.7,40.8,40.8,40.8,...,42.5,42.5,42.6,42.6,42.6,42.7,42.7,42.8,42.8,42.9

In [73]:
# 결측치 갯수 세기
age.isnull().sum(axis=1) # 행으로 계산

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
dtype: int64

In [74]:
# 월별로 나누어져 있는 데이터를 연도별로 합치기
    
for i in range(2017,2022):
    i = str(i)
    age2.loc[:, i+'년_평균연령'] = round(age2.loc[:,(i+'년01월_평균연령'):(i+'년12월_평균연령')].sum(axis=1)/12,2)
age2

,행정구역,2017년01월_평균연령,2017년02월_평균연령,2017년03월_평균연령,2017년04월_평균연령,2017년05월_평균연령,2017년06월_평균연령,2017년07월_평균연령,2017년08월_평균연령,2017년09월_평균연령,...,2021년08월_평균연령,2021년09월_평균연령,2021년10월_평균연령,2021년11월_평균연령,2021년12월_평균연령,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령
0,전국 (1000000000),41.1,41.1,41.2,41.2,41.2,41.3,41.3,41.3,41.4,...,43.5,43.6,43.6,43.7,43.7,41.29,41.82,42.38,42.94,43.48
1,서울특별시 (1100000000),41.2,41.3,41.3,41.3,41.4,41.4,41.4,41.5,41.5,...,43.4,43.4,43.5,43.5,43.6,41.42,41.94,42.44,42.93,43.37
2,부산광역시 (2600000000),42.8,42.9,42.9,43.0,43.0,43.1,43.1,43.1,43.2,...,45.4,45.4,45.5,45.5,45.6,43.08,43.67,44.25,44.82,45.33
3,대구광역시 (2700000000),41.2,41.2,41.3,41.3,41.4,41.4,41.4,41.5,41.5,...,43.9,43.9,44.0,44.0,44.1,41.42,41.97,42.59,43.22,43.82
4,인천광역시 (2800000000),40.0,40.0,40.1,40.1,40.2,40.2,40.2,40.3,40.3,...,42.7,42.7,42.8,42.8,42.8,40.22,40.80,41.39,42.02,42.62
5,광주광역시 (2900000000),39.1,39.2,39.2,39.3,39.3,39.3,39.4,39.4,39.5,...,41.7,41.7,41.8,41.8,41.9,39.37,39.93,40.51,41.10,41.65
6,대전광역시 (3000000000),39.5,39.6,39.6,39.7,39.7,39.8,39.8,39.8,39.9,...,42.3,42.3,42.3,42.4,42.4,39.78,40.40,41.01,41.62,42.20
7,울산광역시 (3100000000),39.0,39.0,39.1,39.2,39.2,39.2,39.3,39.3,39.4,...,42.1,42.1,42.2,42.2,42.3,39.26,39.90,40.58,41.26,41.98
8,세종특별자치시 (3600000000),36.8,36.8,36.8,36.7,36.7,36.7,36.7,36.7,36.7,...,37.6,37.7,37.7,37.7,37.7,36.72,36.63,36.81,37.17,37.56
9,경기도 (4100000000),39.3,39.4,39.4,39.5,39.5,39.5,39.6,39.6,39.7,...,41.7,41.8,41.8,41.8,41.9,39.56,40.07,40.61,41.14,41.65
10,강원도 (4200000000),43.5,43.6,43.7,43.7,43.8,43.8,43.8,43.9,43.9,...,46.3,46.3,46.4,46.4,46.4,43.82,44.43,45.04,45.66,46.21
11,충청북도 (4300000000),41.9,42.0,42.0,42.0,42.1,42.1,42.2,42.2,42.2,...,44.5,44.5,44.6,44.6,44.7,42.14,42.68,43.24,43.83,44.42
12,충청남도 (4400000000),42.1,42.2,42.2,42.2,42.3,42.3,42.3,42.4,42.4,...,44.6,44.6,44.7,44.7,44.8,42.32,42.79,43.33,43.93,44.52
13,전라북도 (4500000000),43.1,43.2,43.2,43.3,43.3,43.4,43.4,43.4,43.5,...,46.0,46.0,46.1,46.1,46.2,43.38,44.00,44.64,45.30,45.91
14,전라남도 (4600000000),44.5,44.6,44.7,44.7,44.7,44.8,44.8,44.9,44.9,...,47.2,47.3,47.3,47.4,47.4,44.79,45.34,45.93,46.54,47.15
15,경상북도 (4700000000),43.8,43.9,44.0,44.0,44.1,44.1,44.1,44.2,44.2,...,46.7,46.7,46.8,46.8,46.9,44.11,44.69,45.32,45.98,46.62
16,경상남도 (4800000000),41.4,41.5,41.5,41.6,41.6,41.6,41.7,41.7,41.8,...,44.3,44.4,44.4,44.5,44.5,41.67,42.24,42.87,43.55,44.23
17,제주특별자치도 (5000000000),40.6,40.6,40.6,40.7,40.7,40.7,40.8,40.8,40.8,...,42.7,42.7,42.8,42.8,42.9,40.74,41.12,41.62,42.16,42.63

In [75]:
# 불필요한 열 삭제
for i in range(2017,2022):
    i = str(i)
    m = ['01','02','03','04','05','06','07','08','09','10','11','12']
    for j in m:
        age2 = age2.drop([i+'년'+j+'월_평균연령'],axis=1)

# 불필요한 행 삭제
age2 = age2.drop(0, axis=0)

age2

,행정구역,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령
1,서울특별시 (1100000000),41.42,41.94,42.44,42.93,43.37
2,부산광역시 (2600000000),43.08,43.67,44.25,44.82,45.33
3,대구광역시 (2700000000),41.42,41.97,42.59,43.22,43.82
4,인천광역시 (2800000000),40.22,40.80,41.39,42.02,42.62
5,광주광역시 (2900000000),39.37,39.93,40.51,41.10,41.65
6,대전광역시 (3000000000),39.78,40.40,41.01,41.62,42.20
7,울산광역시 (3100000000),39.26,39.90,40.58,41.26,41.98
8,세종특별자치시 (3600000000),36.72,36.63,36.81,37.17,37.56
9,경기도 (4100000000),39.56,40.07,40.61,41.14,41.65
10,강원도 (4200000000),43.82,44.43,45.04,45.66,46.21
11,충청북도 (4300000000),42.14,42.68,43.24,43.83,44.42
12,충청남도 (4400000000),42.32,42.79,43.33,43.93,44.52
13,전라북도 (4500000000),43.38,44.00,44.64,45.30,45.91
14,전라남도 (4600000000),44.79,45.34,45.93,46.54,47.15
15,경상북도 (4700000000),44.11,44.69,45.32,45.98,46.62
16,경상남도 (4800000000),41.67,42.24,42.87,43.55,44.23
17,제주특별자치도 (5000000000),40.74,41.12,41.62,42.16,42.63

In [76]:
age2.columns = ['지역', '2017년_평균연령', '2018년_평균연령', '2019년_평균연령', '2020년_평균연령', '2021년_평균연령']
age2 = age2.set_index(["지역"])
age2

,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령
지역,,,,,
서울특별시 (1100000000),41.42,41.94,42.44,42.93,43.37
부산광역시 (2600000000),43.08,43.67,44.25,44.82,45.33
대구광역시 (2700000000),41.42,41.97,42.59,43.22,43.82
인천광역시 (2800000000),40.22,40.80,41.39,42.02,42.62
광주광역시 (2900000000),39.37,39.93,40.51,41.10,41.65
대전광역시 (3000000000),39.78,40.40,41.01,41.62,42.20
울산광역시 (3100000000),39.26,39.90,40.58,41.26,41.98
세종특별자치시 (3600000000),36.72,36.63,36.81,37.17,37.56
경기도 (4100000000),39.56,40.07,40.61,41.14,41.65
강원도 (4200000000),43.82,44.43,45.04,45.66,46.21
충청북도 (4300000000),42.14,42.68,43.24,43.83,44.42
충청남도 (4400000000),42.32,42.79,43.33,43.93,44.52
전라북도 (4500000000),43.38,44.00,44.64,45.30,45.91
전라남도 (4600000000),44.79,45.34,45.93,46.54,47.15
경상북도 (4700000000),44.11,44.69,45.32,45.98,46.62
경상남도 (4800000000),41.67,42.24,42.87,43.55,44.23
제주특별자치도 (5000000000),40.74,41.12,41.62,42.16,42.63

In [77]:
# 행 이름 변경
age2 = age2.rename(index={'서울특별시  (1100000000)':'서울','부산광역시  (2600000000)':'부산','대구광역시  (2700000000)':'대구',
                          '인천광역시  (2800000000)':'인천','광주광역시  (2900000000)':'광주','대전광역시  (3000000000)':'대전',
                         '울산광역시  (3100000000)':'울산','세종특별자치시  (3600000000)':'세종','경기도  (4100000000)':'경기',
                         '강원도  (4200000000)':'강원','충청북도  (4300000000)':'충북','충청남도  (4400000000)':'충남',
                         '전라북도  (4500000000)':'전북', '전라남도  (4600000000)':'전남','경상북도  (4700000000)':'경북',
                         '경상남도  (4800000000)':'경남','제주특별자치도  (5000000000)':'제주'})
age2

    2017년_평균연령  2018년_평균연령  2019년_평균연령  2020년_평균연령  2021년_평균연령
지역
서울       41.42       41.94       42.44       42.93       43.37
부산       43.08       43.67       44.25       44.82       45.33
대구       41.42       41.97       42.59       43.22       43.82
인천       40.22       40.80       41.39       42.02       42.62
광주       39.37       39.93       40.51       41.10       41.65
대전       39.78       40.40       41.01       41.62       42.20
울산       39.26       39.90       40.58       41.26       41.98
세종       36.72       36.63       36.81       37.17       37.56
경기       39.56       40.07       40.61       41.14       41.65
강원       43.82       44.43       45.04       45.66       46.21
충북       42.14       42.68       43.24       43.83       44.42
충남       42.32       42.79       43.33       43.93       44.52
전북       43.38       44.00       44.64       45.30       45.91
전남       44.79       45.34       45.93       46.54       47.15
경북       44.11       44.69       45.32       45.98       46.62
경남       41.67       42.24       42.87       43.55       44.23
제주       40.74       41.12       41.62       42.16       42.63

In [78]:
# 수의 차이
# 각 항목의 최소값을 0, 최대값을 1로 설정하고 범위 안에서 비교

col =  ['2017년_평균연령', '2018년_평균연령', '2019년_평균연령', '2020년_평균연령', '2021년_평균연령']
x = age2[col].values
scaler = preprocessing.MinMaxScaler()             # 정규화 시켜준다.
x_scale =scaler.fit_transform(x.astype(float))
age_minmax = pd.DataFrame(x_scale, columns=col, index = age2.index)
age_minmax

    2017년_평균연령  2018년_평균연령  2019년_평균연령  2020년_평균연령  2021년_평균연령
지역
서울    0.582404    0.609644    0.617325    0.614728    0.605839
부산    0.788104    0.808266    0.815789    0.816435    0.810219
대구    0.582404    0.613088    0.633772    0.645678    0.652763
인천    0.433705    0.478760    0.502193    0.517609    0.527633
광주    0.328377    0.378875    0.405702    0.419424    0.426486
대전    0.379182    0.432836    0.460526    0.474920    0.483837
울산    0.314746    0.375431    0.413377    0.436499    0.460897
세종    0.000000    0.000000    0.000000    0.000000    0.000000
경기    0.351921    0.394948    0.416667    0.423693    0.426486
강원    0.879802    0.895522    0.902412    0.906083    0.901981
충북    0.671623    0.694604    0.705044    0.710779    0.715328
충남    0.693928    0.707233    0.714912    0.721451    0.725756
전북    0.825279    0.846154    0.858553    0.867663    0.870699
전남    1.000000    1.000000    1.000000    1.000000    1.000000
경북    0.915737    0.925373    0.933114    0.940235    0.944734
경남    0.613383    0.644087    0.664474    0.680896    0.695516
제주    0.498141    0.515499    0.527412    0.532551    0.528676

In [79]:
# 지역별 범죄 발생 건수와 합치기 (일반 데이터)
crime_df = crime_df.merge(age2[['2017년_평균연령', '2018년_평균연령', '2019년_평균연령', '2020년_평균연령', '2021년_평균연령']], on='지역')
crime_df

,2017,2018,2019,2020,2021,중앙값,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소",...,2017_외국인,2018_외국인,2019_외국인,2020_외국인,2021_외국인,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령
지역,,,,,,,,,,,,,,,,,,,,,
서울,352471,341288,340504,318320,274830,340504.0,270.0,271.0,272.0,272.0,...,343927,374425,390177,366454,347080,41.42,41.94,42.44,42.93,43.37
부산,130148,126230,128725,127673,113558,127673.0,107.0,107.0,109.0,109.0,...,48808,55506,60502,54914,53334,43.08,43.67,44.25,44.82,45.33
대구,82281,79489,82905,79182,72339,79489.0,70.0,71.0,72.0,72.0,...,31365,35280,40092,37398,36956,41.42,41.97,42.59,43.22,43.82
인천,101526,94605,101289,96340,85432,96340.0,84.0,84.0,85.0,85.0,...,79170,88489,100174,99212,100379,40.22,40.80,41.39,42.02,42.62
광주,54627,51223,52827,49869,44610,51223.0,45.0,45.0,45.0,45.0,...,26052,29833,33286,30573,30497,39.37,39.93,40.51,41.10,41.65
대전,50357,48184,47929,46960,41921,47929.0,33.0,33.0,34.0,36.0,...,20534,22858,25147,22928,23263,39.78,40.40,41.01,41.62,42.20
울산,26558,25323,25814,24911,23463,25323.0,34.0,34.0,34.0,34.0,...,26601,27162,28604,26895,25388,39.26,39.90,40.58,41.26,41.98
세종,5023,5331,6300,6651,6147,6147.0,1.0,1.0,10.0,10.0,...,5290,6486,7829,7244,6991,36.72,36.63,36.81,37.17,37.56
경기,459893,429953,433498,429487,388004,429953.0,371.0,373.0,380.0,382.0,...,497089,558197,594795,583462,571204,39.56,40.07,40.61,41.14,41.65
강원,58900,52495,53289,51544,45398,52495.0,122.0,122.0,122.0,122.0,...,20996,24149,27008,24654,24582,43.82,44.43,45.04,45.66,46.21
충북,56944,53659,53801,51645,47020,53659.0,90.0,90.0,91.0,91.0,...,48237,54835,59783,57094,56631,42.14,42.68,43.24,43.83,44.42
충남,73772,75405,73817,71847,63290,73772.0,136.0,137.0,139.0,129.0,...,84752,95838,104018,99166,98612,42.32,42.79,43.33,43.93,44.52
전북,57238,56353,58012,56210,52587,56353.0,178.0,178.0,179.0,179.0,...,33764,39131,43960,42366,41047,43.38,44.00,44.64,45.30,45.91
전남,64618,65932,68566,67448,60205,65932.0,226.0,226.0,227.0,227.0,...,37212,42520,47778,45236,44159,44.79,45.34,45.93,46.54,47.15
경북,89049,85371,88098,83790,75300,85371.0,255.0,256.0,257.0,258.0,...,63978,74071,81840,74547,72798,44.11,44.69,45.32,45.98,46.62
경남,127294,117243,123992,123406,111102,123406.0,193.0,193.0,195.0,197.0,...,91072,97494,105908,96669,91836,41.67,42.24,42.87,43.55,44.23
제주,34177,30106,28318,29296,26499,29296.0,27.0,28.0,29.0,29.0,...,20400,25287,28017,26831,25210,40.74,41.12,41.62,42.16,42.63

In [80]:
# 지역별 범죄 발생 건수와 합치기 (정규화 데이터)
crime_df_minmax = crime_df_minmax.merge(age_minmax[['2017년_평균연령', '2018년_평균연령', '2019년_평균연령', '2020년_평균연령', '2021년_평균연령']], on='지역')
crime_df_minmax

,2017,2018,2019,2020,2021,중앙값,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소",...,2017_외국인,2018_외국인,2019_외국인,2020_외국인,2021_외국인,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령
지역,,,,,,,,,,,,,,,,,,,,,
서울,0.763840,0.791191,0.782316,0.737092,0.703622,0.788939,0.727027,0.725806,0.708108,0.704301,...,0.688568,0.666905,0.651397,0.623393,0.602767,0.582404,0.609644,0.617325,0.614728,0.605839
부산,0.275079,0.284721,0.286577,0.286215,0.281286,0.286749,0.286486,0.284946,0.267568,0.266129,...,0.088487,0.088851,0.089738,0.082729,0.082137,0.788104,0.808266,0.815789,0.816435,0.810219
대구,0.169846,0.174645,0.179320,0.171535,0.173342,0.173056,0.186486,0.188172,0.167568,0.166667,...,0.053020,0.052190,0.054966,0.052331,0.053109,0.582404,0.613088,0.633772,0.645678,0.652763
인천,0.212155,0.210243,0.222354,0.212113,0.207630,0.212817,0.224324,0.223118,0.202703,0.201613,...,0.150224,0.148634,0.157326,0.159606,0.165519,0.433705,0.478760,0.502193,0.517609,0.527633
광주,0.109051,0.108077,0.108912,0.102210,0.100726,0.106360,0.118919,0.118280,0.094595,0.094086,...,0.042216,0.042317,0.043370,0.040486,0.041662,0.328377,0.378875,0.405702,0.419424,0.426486
대전,0.099664,0.100920,0.097447,0.095330,0.093684,0.098588,0.086486,0.086022,0.064865,0.069892,...,0.030996,0.029675,0.029504,0.027219,0.028840,0.379182,0.432836,0.460526,0.474920,0.483837
울산,0.047343,0.047082,0.045679,0.043185,0.045347,0.045247,0.089189,0.088710,0.064865,0.064516,...,0.043333,0.037476,0.035394,0.034103,0.032606,0.314746,0.375431,0.413377,0.436499,0.460897
세종,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
경기,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.351921,0.394948,0.416667,0.423693,0.426486
강원,0.118445,0.111073,0.109993,0.106171,0.102790,0.109361,0.327027,0.325269,0.302703,0.301075,...,0.031936,0.032015,0.032675,0.030214,0.031178,0.879802,0.895522,0.902412,0.906083,0.901981
충북,0.114145,0.113814,0.111192,0.106410,0.107037,0.112108,0.240541,0.239247,0.218919,0.217742,...,0.087326,0.087635,0.088513,0.086512,0.087981,0.671623,0.694604,0.705044,0.710779,0.715328
충남,0.151140,0.165027,0.158046,0.154187,0.149645,0.159566,0.364865,0.365591,0.348649,0.319892,...,0.161574,0.161954,0.163875,0.159526,0.162387,0.693928,0.707233,0.714912,0.721451,0.725756
전북,0.114791,0.120159,0.121049,0.117206,0.121616,0.118465,0.478378,0.475806,0.456757,0.454301,...,0.057898,0.059170,0.061556,0.060953,0.060360,0.825279,0.846154,0.858553,0.867663,0.870699
전남,0.131015,0.142718,0.145754,0.143784,0.141566,0.141067,0.608108,0.604839,0.586486,0.583333,...,0.064909,0.065313,0.068060,0.065933,0.065876,1.000000,1.000000,1.000000,1.000000,1.000000
경북,0.184725,0.188497,0.191476,0.182432,0.181097,0.186935,0.686486,0.685484,0.667568,0.666667,...,0.119333,0.122501,0.126091,0.116801,0.116635,0.915737,0.925373,0.933114,0.940235,0.944734
경남,0.268804,0.263557,0.275498,0.276124,0.274854,0.276681,0.518919,0.516129,0.500000,0.502688,...,0.174425,0.164956,0.167095,0.155193,0.150378,0.613383,0.644087,0.664474,0.680896,0.695516
제주,0.064093,0.058346,0.051541,0.053555,0.053297,0.054622,0.070270,0.072581,0.051351,0.051075,...,0.030724,0.034078,0.034394,0.033992,0.032291,0.498141,0.515499,0.527412,0.532551,0.528676

# 인구수

In [81]:
num = pd.read_csv('./201712_202112_주민등록인구및세대현황_연간.csv', encoding='euc_kr')

# 원본 훼손 방지를 위해 copy
num2 = num.copy()
num2

,행정구역,2017년_총인구수,2017년_세대수,2017년_세대당 인구,2017년_남자 인구수,2017년_여자 인구수,2017년_남여 비율,2018년_총인구수,2018년_세대수,2018년_세대당 인구,...,2020년_세대당 인구,2020년_남자 인구수,2020년_여자 인구수,2020년_남여 비율,2021년_총인구수,2021년_세대수,2021년_세대당 인구,2021년_남자 인구수,2021년_여자 인구수,2021년_남여 비율
0,전국 (1000000000),"51,778,544","21,632,851",2.39,"25,855,919","25,922,625",1.00,"51,826,059","22,042,947",2.35,...,2.24,"25,841,029","25,987,994",0.99,"51,638,809","23,472,895",2.20,"25,746,684","25,892,125",0.99
1,서울특별시 (1100000000),"9,857,426","4,220,082",2.34,"4,830,206","5,027,220",0.96,"9,765,623","4,263,868",2.29,...,2.19,"4,701,723","4,966,742",0.95,"9,509,458","4,426,007",2.15,"4,618,040","4,891,418",0.94
2,부산광역시 (2600000000),"3,470,653","1,467,555",2.36,"1,709,508","1,761,145",0.97,"3,441,453","1,480,468",2.32,...,2.22,"1,661,000","1,730,946",0.96,"3,350,380","1,544,663",2.17,"1,639,044","1,711,336",0.96
3,대구광역시 (2700000000),"2,475,231","1,006,753",2.46,"1,227,814","1,247,417",0.98,"2,461,769","1,021,266",2.41,...,2.29,"1,193,109","1,225,237",0.97,"2,385,412","1,063,893",2.24,"1,175,632","1,209,780",0.97
4,인천광역시 (2800000000),"2,948,542","1,188,917",2.48,"1,479,597","1,468,945",1.01,"2,954,642","1,213,201",2.44,...,2.32,"1,473,943","1,468,885",1.00,"2,948,375","1,298,647",2.27,"1,476,373","1,472,002",1.00
5,광주광역시 (2900000000),"1,463,770","592,818",2.47,"725,295","738,475",0.98,"1,459,336","603,107",2.42,...,2.29,"717,348","732,714",0.98,"1,441,611","645,712",2.23,"713,015","728,596",0.98
6,대전광역시 (3000000000),"1,502,227","614,639",2.44,"750,969","751,258",1.00,"1,489,936","624,965",2.38,...,2.24,"730,699","733,183",1.00,"1,452,251","664,417",2.19,"724,626","727,625",1.00
7,울산광역시 (3100000000),"1,165,132","458,547",2.54,"599,480","565,652",1.06,"1,155,623","461,756",2.50,...,2.38,"583,708","552,309",1.06,"1,121,592","482,650",2.32,"576,217","545,375",1.06
8,세종특별자치시 (3600000000),"280,100","109,490",2.56,"139,734","140,366",1.00,"314,126","123,762",2.54,...,2.47,"177,568","178,263",1.00,"371,895","153,649",2.42,"185,678","186,217",1.00
9,경기도 (4100000000),"12,873,895","5,131,379",2.51,"6,475,323","6,398,572",1.01,"13,077,153","5,306,214",2.46,...,2.37,"6,754,469","6,672,545",1.01,"13,565,450","5,841,995",2.32,"6,827,298","6,738,152",1.01
10,강원도 (4200000000),"1,550,142","700,265",2.21,"780,635","769,507",1.01,"1,543,052","707,245",2.18,...,2.10,"776,505","766,335",1.01,"1,538,492","746,220",2.06,"774,332","764,160",1.01
11,충청북도 (4300000000),"1,594,432","692,140",2.30,"805,091","789,341",1.02,"1,599,252","707,220",2.26,...,2.15,"811,591","789,246",1.03,"1,597,427","760,672",2.10,"810,672","786,755",1.03
12,충청남도 (4400000000),"2,116,770","923,499",2.29,"1,076,270","1,040,500",1.03,"2,126,282","943,611",2.25,...,2.16,"1,082,634","1,038,395",1.04,"2,119,257","1,001,915",2.12,"1,083,366","1,035,891",1.05
13,전라북도 (4500000000),"1,854,607","797,916",2.32,"922,307","932,300",0.99,"1,836,832","806,235",2.28,...,2.16,"896,874","907,230",0.99,"1,786,855","849,001",2.10,"888,994","897,861",0.99
14,전라남도 (4600000000),"1,896,424","851,376",2.23,"948,290","948,134",1.00,"1,882,970","860,303",2.19,...,2.07,"930,615","920,934",1.01,"1,832,803","903,108",2.03,"922,221","910,582",1.01
15,경상북도 (4700000000),"2,691,706","1,193,261",2.26,"1,353,164","1,338,542",1.01,"2,676,831","1,207,351",2.22,...,2.10,"1,329,211","1,310,211",1.01,"2,626,609","1,276,846",2.06,"1,323,661","1,302,948",1.02
16,경상남도 (4800000000),"3,380,404","1,406,011",2.40,"1,701,413","1,678,991",1.01,"3,373,988","1,425,271",2.37,...,2.25,"1,681,423","1,658,793",1.01,"3,314,183","1,505,971",2.20,"1,668,338","1,645,845",1.01
17,제주특별자치도 (5000000000),"657,083","278,203",2.36,"330,823","326,260",1.01,"667,191","287,104",2.32,...,2.23,"338,609","336,026",1.01,"676,759","307,529",2.20,"339,177","337,582",1.00

In [82]:
# 불필요한 열 제거

num2 = num2.drop(['2017년_세대수','2017년_세대당 인구', '2017년_남자 인구수', '2017년_여자 인구수','2017년_남여 비율', 
                  '2018년_세대수','2018년_세대당 인구', '2018년_남자 인구수', '2018년_여자 인구수','2018년_남여 비율', 
                  '2019년_세대수','2019년_세대당 인구', '2019년_남자 인구수', '2019년_여자 인구수','2019년_남여 비율', 
                  '2020년_세대수','2020년_세대당 인구', '2020년_남자 인구수', '2020년_여자 인구수','2020년_남여 비율', 
                  '2021년_세대수','2021년_세대당 인구', '2021년_남자 인구수', '2021년_여자 인구수','2021년_남여 비율'],axis=1)

# 불필요한 행 제거
num2 = num2.drop([0])
num2

,행정구역,2017년_총인구수,2018년_총인구수,2019년_총인구수,2020년_총인구수,2021년_총인구수
1,서울특별시 (1100000000),"9,857,426","9,765,623","9,729,107","9,668,465","9,509,458"
2,부산광역시 (2600000000),"3,470,653","3,441,453","3,413,841","3,391,946","3,350,380"
3,대구광역시 (2700000000),"2,475,231","2,461,769","2,438,031","2,418,346","2,385,412"
4,인천광역시 (2800000000),"2,948,542","2,954,642","2,957,026","2,942,828","2,948,375"
5,광주광역시 (2900000000),"1,463,770","1,459,336","1,456,468","1,450,062","1,441,611"
6,대전광역시 (3000000000),"1,502,227","1,489,936","1,474,870","1,463,882","1,452,251"
7,울산광역시 (3100000000),"1,165,132","1,155,623","1,148,019","1,136,017","1,121,592"
8,세종특별자치시 (3600000000),"280,100","314,126","340,575","355,831","371,895"
9,경기도 (4100000000),"12,873,895","13,077,153","13,239,666","13,427,014","13,565,450"
10,강원도 (4200000000),"1,550,142","1,543,052","1,541,502","1,542,840","1,538,492"
11,충청북도 (4300000000),"1,594,432","1,599,252","1,600,007","1,600,837","1,597,427"
12,충청남도 (4400000000),"2,116,770","2,126,282","2,123,709","2,121,029","2,119,257"
13,전라북도 (4500000000),"1,854,607","1,836,832","1,818,917","1,804,104","1,786,855"
14,전라남도 (4600000000),"1,896,424","1,882,970","1,868,745","1,851,549","1,832,803"
15,경상북도 (4700000000),"2,691,706","2,676,831","2,665,836","2,639,422","2,626,609"
16,경상남도 (4800000000),"3,380,404","3,373,988","3,362,553","3,340,216","3,314,183"
17,제주특별자치도 (5000000000),"657,083","667,191","670,989","674,635","676,759"

In [83]:
# 열 이름 변경
# num2 = num2.rename(columns={'행정구역':'지역','2023년08월_총인구수':'총인구수'})
num2['2017년_총인구수'] = num2['2017년_총인구수'].str.replace(",","").astype(int)
num2['2018년_총인구수'] = num2['2018년_총인구수'].str.replace(",","").astype(int)
num2['2019년_총인구수'] = num2['2019년_총인구수'].str.replace(",","").astype(int)
num2['2020년_총인구수'] = num2['2020년_총인구수'].str.replace(",","").astype(int)
num2['2021년_총인구수'] = num2['2021년_총인구수'].str.replace(",","").astype(int)
num2['총인구수'] = num2.loc[:, '2017년_총인구수' : '2021년_총인구수'].mean(axis=1)

# 불필요한 행 제거
num2 = num2.drop(columns=['2017년_총인구수', '2018년_총인구수', '2019년_총인구수', '2020년_총인구수', '2021년_총인구수'])
num2

# index 지정
num2.columns = ['지역', '총인구수']
num2 = num2.set_index(["지역"])
num2

                             총인구수
지역
서울특별시  (1100000000)     9706015.8
부산광역시  (2600000000)     3413654.6
대구광역시  (2700000000)     2435757.8
인천광역시  (2800000000)     2950282.6
광주광역시  (2900000000)     1454249.4
대전광역시  (3000000000)     1476633.2
울산광역시  (3100000000)     1145276.6
세종특별자치시  (3600000000)    332505.4
경기도  (4100000000)      13236635.6
강원도  (4200000000)       1543205.6
충청북도  (4300000000)      1598391.0
충청남도  (4400000000)      2121409.4
전라북도  (4500000000)      1820263.0
전라남도  (4600000000)      1866498.2
경상북도  (4700000000)      2660080.8
경상남도  (4800000000)      3354268.8
제주특별자치도  (5000000000)    669331.4

In [84]:
# 행 이름 변경
num2 = num2.rename(index={'서울특별시  (1100000000)':'서울','부산광역시  (2600000000)':'부산','대구광역시  (2700000000)':'대구',
                          '인천광역시  (2800000000)':'인천','광주광역시  (2900000000)':'광주','대전광역시  (3000000000)':'대전',
                         '울산광역시  (3100000000)':'울산','세종특별자치시  (3600000000)':'세종','경기도  (4100000000)':'경기',
                         '강원도  (4200000000)':'강원','충청북도  (4300000000)':'충북','충청남도  (4400000000)':'충남',
                         '전라북도  (4500000000)':'전북', '전라남도  (4600000000)':'전남','경상북도  (4700000000)':'경북',
                         '경상남도  (4800000000)':'경남','제주특별자치도  (5000000000)':'제주'})
num2

          총인구수
지역
서울   9706015.8
부산   3413654.6
대구   2435757.8
인천   2950282.6
광주   1454249.4
대전   1476633.2
울산   1145276.6
세종    332505.4
경기  13236635.6
강원   1543205.6
충북   1598391.0
충남   2121409.4
전북   1820263.0
전남   1866498.2
경북   2660080.8
경남   3354268.8
제주    669331.4

In [85]:
# 지역별 범죄 발생 건수와 합치기 (일반 데이터)
crime_df = crime_df.merge(num2[['총인구수']], on='지역')
crime_df

,2017,2018,2019,2020,2021,중앙값,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소",...,2018_외국인,2019_외국인,2020_외국인,2021_외국인,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령,총인구수
지역,,,,,,,,,,,,,,,,,,,,,
서울,352471,341288,340504,318320,274830,340504.0,270.0,271.0,272.0,272.0,...,374425,390177,366454,347080,41.42,41.94,42.44,42.93,43.37,9706015.8
부산,130148,126230,128725,127673,113558,127673.0,107.0,107.0,109.0,109.0,...,55506,60502,54914,53334,43.08,43.67,44.25,44.82,45.33,3413654.6
대구,82281,79489,82905,79182,72339,79489.0,70.0,71.0,72.0,72.0,...,35280,40092,37398,36956,41.42,41.97,42.59,43.22,43.82,2435757.8
인천,101526,94605,101289,96340,85432,96340.0,84.0,84.0,85.0,85.0,...,88489,100174,99212,100379,40.22,40.80,41.39,42.02,42.62,2950282.6
광주,54627,51223,52827,49869,44610,51223.0,45.0,45.0,45.0,45.0,...,29833,33286,30573,30497,39.37,39.93,40.51,41.10,41.65,1454249.4
대전,50357,48184,47929,46960,41921,47929.0,33.0,33.0,34.0,36.0,...,22858,25147,22928,23263,39.78,40.40,41.01,41.62,42.20,1476633.2
울산,26558,25323,25814,24911,23463,25323.0,34.0,34.0,34.0,34.0,...,27162,28604,26895,25388,39.26,39.90,40.58,41.26,41.98,1145276.6
세종,5023,5331,6300,6651,6147,6147.0,1.0,1.0,10.0,10.0,...,6486,7829,7244,6991,36.72,36.63,36.81,37.17,37.56,332505.4
경기,459893,429953,433498,429487,388004,429953.0,371.0,373.0,380.0,382.0,...,558197,594795,583462,571204,39.56,40.07,40.61,41.14,41.65,13236635.6
강원,58900,52495,53289,51544,45398,52495.0,122.0,122.0,122.0,122.0,...,24149,27008,24654,24582,43.82,44.43,45.04,45.66,46.21,1543205.6
충북,56944,53659,53801,51645,47020,53659.0,90.0,90.0,91.0,91.0,...,54835,59783,57094,56631,42.14,42.68,43.24,43.83,44.42,1598391.0
충남,73772,75405,73817,71847,63290,73772.0,136.0,137.0,139.0,129.0,...,95838,104018,99166,98612,42.32,42.79,43.33,43.93,44.52,2121409.4
전북,57238,56353,58012,56210,52587,56353.0,178.0,178.0,179.0,179.0,...,39131,43960,42366,41047,43.38,44.00,44.64,45.30,45.91,1820263.0
전남,64618,65932,68566,67448,60205,65932.0,226.0,226.0,227.0,227.0,...,42520,47778,45236,44159,44.79,45.34,45.93,46.54,47.15,1866498.2
경북,89049,85371,88098,83790,75300,85371.0,255.0,256.0,257.0,258.0,...,74071,81840,74547,72798,44.11,44.69,45.32,45.98,46.62,2660080.8
경남,127294,117243,123992,123406,111102,123406.0,193.0,193.0,195.0,197.0,...,97494,105908,96669,91836,41.67,42.24,42.87,43.55,44.23,3354268.8
제주,34177,30106,28318,29296,26499,29296.0,27.0,28.0,29.0,29.0,...,25287,28017,26831,25210,40.74,41.12,41.62,42.16,42.63,669331.4

In [86]:
# 지역별 범죄 발생 건수와 합치기 (정규화 데이터)
crime_df_minmax = crime_df_minmax.merge(num2[['총인구수']], on='지역')
crime_df_minmax

,2017,2018,2019,2020,2021,중앙값,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소",...,2018_외국인,2019_외국인,2020_외국인,2021_외국인,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령,총인구수
지역,,,,,,,,,,,,,,,,,,,,,
서울,0.763840,0.791191,0.782316,0.737092,0.703622,0.788939,0.727027,0.725806,0.708108,0.704301,...,0.666905,0.651397,0.623393,0.602767,0.582404,0.609644,0.617325,0.614728,0.605839,9706015.8
부산,0.275079,0.284721,0.286577,0.286215,0.281286,0.286749,0.286486,0.284946,0.267568,0.266129,...,0.088851,0.089738,0.082729,0.082137,0.788104,0.808266,0.815789,0.816435,0.810219,3413654.6
대구,0.169846,0.174645,0.179320,0.171535,0.173342,0.173056,0.186486,0.188172,0.167568,0.166667,...,0.052190,0.054966,0.052331,0.053109,0.582404,0.613088,0.633772,0.645678,0.652763,2435757.8
인천,0.212155,0.210243,0.222354,0.212113,0.207630,0.212817,0.224324,0.223118,0.202703,0.201613,...,0.148634,0.157326,0.159606,0.165519,0.433705,0.478760,0.502193,0.517609,0.527633,2950282.6
광주,0.109051,0.108077,0.108912,0.102210,0.100726,0.106360,0.118919,0.118280,0.094595,0.094086,...,0.042317,0.043370,0.040486,0.041662,0.328377,0.378875,0.405702,0.419424,0.426486,1454249.4
대전,0.099664,0.100920,0.097447,0.095330,0.093684,0.098588,0.086486,0.086022,0.064865,0.069892,...,0.029675,0.029504,0.027219,0.028840,0.379182,0.432836,0.460526,0.474920,0.483837,1476633.2
울산,0.047343,0.047082,0.045679,0.043185,0.045347,0.045247,0.089189,0.088710,0.064865,0.064516,...,0.037476,0.035394,0.034103,0.032606,0.314746,0.375431,0.413377,0.436499,0.460897,1145276.6
세종,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,332505.4
경기,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,0.351921,0.394948,0.416667,0.423693,0.426486,13236635.6
강원,0.118445,0.111073,0.109993,0.106171,0.102790,0.109361,0.327027,0.325269,0.302703,0.301075,...,0.032015,0.032675,0.030214,0.031178,0.879802,0.895522,0.902412,0.906083,0.901981,1543205.6
충북,0.114145,0.113814,0.111192,0.106410,0.107037,0.112108,0.240541,0.239247,0.218919,0.217742,...,0.087635,0.088513,0.086512,0.087981,0.671623,0.694604,0.705044,0.710779,0.715328,1598391.0
충남,0.151140,0.165027,0.158046,0.154187,0.149645,0.159566,0.364865,0.365591,0.348649,0.319892,...,0.161954,0.163875,0.159526,0.162387,0.693928,0.707233,0.714912,0.721451,0.725756,2121409.4
전북,0.114791,0.120159,0.121049,0.117206,0.121616,0.118465,0.478378,0.475806,0.456757,0.454301,...,0.059170,0.061556,0.060953,0.060360,0.825279,0.846154,0.858553,0.867663,0.870699,1820263.0
전남,0.131015,0.142718,0.145754,0.143784,0.141566,0.141067,0.608108,0.604839,0.586486,0.583333,...,0.065313,0.068060,0.065933,0.065876,1.000000,1.000000,1.000000,1.000000,1.000000,1866498.2
경북,0.184725,0.188497,0.191476,0.182432,0.181097,0.186935,0.686486,0.685484,0.667568,0.666667,...,0.122501,0.126091,0.116801,0.116635,0.915737,0.925373,0.933114,0.940235,0.944734,2660080.8
경남,0.268804,0.263557,0.275498,0.276124,0.274854,0.276681,0.518919,0.516129,0.500000,0.502688,...,0.164956,0.167095,0.155193,0.150378,0.613383,0.644087,0.664474,0.680896,0.695516,3354268.8
제주,0.064093,0.058346,0.051541,0.053555,0.053297,0.054622,0.070270,0.072581,0.051351,0.051075,...,0.034078,0.034394,0.033992,0.032291,0.498141,0.515499,0.527412,0.532551,0.528676,669331.4

In [87]:
# 열 순서 변경 (일반 데이터)
crime_df = crime_df.reindex(columns=['총인구수','중앙값','2017','2018','2019','2020','2021','17년도 경찰서,지구대,파출소','18년도 경찰서,지구대,파출소','19년도 경찰서,지구대,파출소','20년도 경찰서,지구대,파출소','21년도 경찰서,지구대,파출소','CCTV 설치/운영 대수 (대)','2017_외국인','2018_외국인', '2019_외국인', '2020_외국인', '2021_외국인','2017년_평균연령', '2018년_평균연령', '2019년_평균연령', '2020년_평균연령', '2021년_평균연령'])
crime_df

,총인구수,중앙값,2017,2018,2019,2020,2021,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소",...,2017_외국인,2018_외국인,2019_외국인,2020_외국인,2021_외국인,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령
지역,,,,,,,,,,,,,,,,,,,,,
서울,9706015.8,340504.0,352471,341288,340504,318320,274830,270.0,271.0,272.0,...,343927,374425,390177,366454,347080,41.42,41.94,42.44,42.93,43.37
부산,3413654.6,127673.0,130148,126230,128725,127673,113558,107.0,107.0,109.0,...,48808,55506,60502,54914,53334,43.08,43.67,44.25,44.82,45.33
대구,2435757.8,79489.0,82281,79489,82905,79182,72339,70.0,71.0,72.0,...,31365,35280,40092,37398,36956,41.42,41.97,42.59,43.22,43.82
인천,2950282.6,96340.0,101526,94605,101289,96340,85432,84.0,84.0,85.0,...,79170,88489,100174,99212,100379,40.22,40.80,41.39,42.02,42.62
광주,1454249.4,51223.0,54627,51223,52827,49869,44610,45.0,45.0,45.0,...,26052,29833,33286,30573,30497,39.37,39.93,40.51,41.10,41.65
대전,1476633.2,47929.0,50357,48184,47929,46960,41921,33.0,33.0,34.0,...,20534,22858,25147,22928,23263,39.78,40.40,41.01,41.62,42.20
울산,1145276.6,25323.0,26558,25323,25814,24911,23463,34.0,34.0,34.0,...,26601,27162,28604,26895,25388,39.26,39.90,40.58,41.26,41.98
세종,332505.4,6147.0,5023,5331,6300,6651,6147,1.0,1.0,10.0,...,5290,6486,7829,7244,6991,36.72,36.63,36.81,37.17,37.56
경기,13236635.6,429953.0,459893,429953,433498,429487,388004,371.0,373.0,380.0,...,497089,558197,594795,583462,571204,39.56,40.07,40.61,41.14,41.65
강원,1543205.6,52495.0,58900,52495,53289,51544,45398,122.0,122.0,122.0,...,20996,24149,27008,24654,24582,43.82,44.43,45.04,45.66,46.21
충북,1598391.0,53659.0,56944,53659,53801,51645,47020,90.0,90.0,91.0,...,48237,54835,59783,57094,56631,42.14,42.68,43.24,43.83,44.42
충남,2121409.4,73772.0,73772,75405,73817,71847,63290,136.0,137.0,139.0,...,84752,95838,104018,99166,98612,42.32,42.79,43.33,43.93,44.52
전북,1820263.0,56353.0,57238,56353,58012,56210,52587,178.0,178.0,179.0,...,33764,39131,43960,42366,41047,43.38,44.00,44.64,45.30,45.91
전남,1866498.2,65932.0,64618,65932,68566,67448,60205,226.0,226.0,227.0,...,37212,42520,47778,45236,44159,44.79,45.34,45.93,46.54,47.15
경북,2660080.8,85371.0,89049,85371,88098,83790,75300,255.0,256.0,257.0,...,63978,74071,81840,74547,72798,44.11,44.69,45.32,45.98,46.62
경남,3354268.8,123406.0,127294,117243,123992,123406,111102,193.0,193.0,195.0,...,91072,97494,105908,96669,91836,41.67,42.24,42.87,43.55,44.23
제주,669331.4,29296.0,34177,30106,28318,29296,26499,27.0,28.0,29.0,...,20400,25287,28017,26831,25210,40.74,41.12,41.62,42.16,42.63

In [88]:
# 결측치 갯수 확인
crime_df.isnull().sum(axis=1) # 행으로 계산

지역
서울    0
부산    0
대구    0
인천    0
광주    0
대전    0
울산    0
세종    0
경기    0
강원    0
충북    0
충남    0
전북    0
전남    0
경북    0
경남    0
제주    0
dtype: int64

In [89]:
# 열 순서 변경 (정규화 데이터)
crime_df_minmax = crime_df_minmax.reindex(columns=['총인구수','2017','2018','2019','2020','2021','17년도 경찰서,지구대,파출소','18년도 경찰서,지구대,파출소','19년도 경찰서,지구대,파출소','20년도 경찰서,지구대,파출소','21년도 경찰서,지구대,파출소','CCTV 설치/운영 대수 (대)','2017_외국인','2018_외국인', '2019_외국인', '2020_외국인', '2021_외국인','2017년_평균연령', '2018년_평균연령', '2019년_평균연령', '2020년_평균연령', '2021년_평균연령'])
crime_df_minmax

,총인구수,2017,2018,2019,2020,2021,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소","19년도 경찰서,지구대,파출소","20년도 경찰서,지구대,파출소",...,2017_외국인,2018_외국인,2019_외국인,2020_외국인,2021_외국인,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령
지역,,,,,,,,,,,,,,,,,,,,,
서울,9706015.8,0.763840,0.791191,0.782316,0.737092,0.703622,0.727027,0.725806,0.708108,0.704301,...,0.688568,0.666905,0.651397,0.623393,0.602767,0.582404,0.609644,0.617325,0.614728,0.605839
부산,3413654.6,0.275079,0.284721,0.286577,0.286215,0.281286,0.286486,0.284946,0.267568,0.266129,...,0.088487,0.088851,0.089738,0.082729,0.082137,0.788104,0.808266,0.815789,0.816435,0.810219
대구,2435757.8,0.169846,0.174645,0.179320,0.171535,0.173342,0.186486,0.188172,0.167568,0.166667,...,0.053020,0.052190,0.054966,0.052331,0.053109,0.582404,0.613088,0.633772,0.645678,0.652763
인천,2950282.6,0.212155,0.210243,0.222354,0.212113,0.207630,0.224324,0.223118,0.202703,0.201613,...,0.150224,0.148634,0.157326,0.159606,0.165519,0.433705,0.478760,0.502193,0.517609,0.527633
광주,1454249.4,0.109051,0.108077,0.108912,0.102210,0.100726,0.118919,0.118280,0.094595,0.094086,...,0.042216,0.042317,0.043370,0.040486,0.041662,0.328377,0.378875,0.405702,0.419424,0.426486
대전,1476633.2,0.099664,0.100920,0.097447,0.095330,0.093684,0.086486,0.086022,0.064865,0.069892,...,0.030996,0.029675,0.029504,0.027219,0.028840,0.379182,0.432836,0.460526,0.474920,0.483837
울산,1145276.6,0.047343,0.047082,0.045679,0.043185,0.045347,0.089189,0.088710,0.064865,0.064516,...,0.043333,0.037476,0.035394,0.034103,0.032606,0.314746,0.375431,0.413377,0.436499,0.460897
세종,332505.4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
경기,13236635.6,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.351921,0.394948,0.416667,0.423693,0.426486
강원,1543205.6,0.118445,0.111073,0.109993,0.106171,0.102790,0.327027,0.325269,0.302703,0.301075,...,0.031936,0.032015,0.032675,0.030214,0.031178,0.879802,0.895522,0.902412,0.906083,0.901981
충북,1598391.0,0.114145,0.113814,0.111192,0.106410,0.107037,0.240541,0.239247,0.218919,0.217742,...,0.087326,0.087635,0.088513,0.086512,0.087981,0.671623,0.694604,0.705044,0.710779,0.715328
충남,2121409.4,0.151140,0.165027,0.158046,0.154187,0.149645,0.364865,0.365591,0.348649,0.319892,...,0.161574,0.161954,0.163875,0.159526,0.162387,0.693928,0.707233,0.714912,0.721451,0.725756
전북,1820263.0,0.114791,0.120159,0.121049,0.117206,0.121616,0.478378,0.475806,0.456757,0.454301,...,0.057898,0.059170,0.061556,0.060953,0.060360,0.825279,0.846154,0.858553,0.867663,0.870699
전남,1866498.2,0.131015,0.142718,0.145754,0.143784,0.141566,0.608108,0.604839,0.586486,0.583333,...,0.064909,0.065313,0.068060,0.065933,0.065876,1.000000,1.000000,1.000000,1.000000,1.000000
경북,2660080.8,0.184725,0.188497,0.191476,0.182432,0.181097,0.686486,0.685484,0.667568,0.666667,...,0.119333,0.122501,0.126091,0.116801,0.116635,0.915737,0.925373,0.933114,0.940235,0.944734
경남,3354268.8,0.268804,0.263557,0.275498,0.276124,0.274854,0.518919,0.516129,0.500000,0.502688,...,0.174425,0.164956,0.167095,0.155193,0.150378,0.613383,0.644087,0.664474,0.680896,0.695516
제주,669331.4,0.064093,0.058346,0.051541,0.053555,0.053297,0.070270,0.072581,0.051351,0.051075,...,0.030724,0.034078,0.034394,0.033992,0.032291,0.498141,0.515499,0.527412,0.532551,0.528676

In [90]:
# 결측치 갯수 확인
crime_df_minmax.isnull().sum(axis=1) # 행으로 계산

지역
서울    0
부산    0
대구    0
인천    0
광주    0
대전    0
울산    0
세종    0
경기    0
강원    0
충북    0
충남    0
전북    0
전남    0
경북    0
경남    0
제주    0
dtype: int64

In [91]:
# 지도 시각화를 위한 도시의 영어이름 칼럼 추가
name_eng = ['Seoul', 'Busan', 'Daegu', 'Incheon', 'Gwangju', 'Daejeon', 'Ulsan', 
            'Sejongsi', 'Gyeonggi-do', 'Gangwon-do', 'Chungcheongbuk-do', 'Chungcheongnam-do', 
            'Jeollabuk-do', 'Jeollanam-do', 'Gyeongsangbuk-do', 'Gyeongsangnam-do', 'Jeju-do']
crime_df.insert(0, '지역(영어)', name_eng)
crime_df

,지역(영어),총인구수,중앙값,2017,2018,2019,2020,2021,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소",...,2017_외국인,2018_외국인,2019_외국인,2020_외국인,2021_외국인,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령
지역,,,,,,,,,,,,,,,,,,,,,
서울,Seoul,9706015.8,340504.0,352471,341288,340504,318320,274830,270.0,271.0,...,343927,374425,390177,366454,347080,41.42,41.94,42.44,42.93,43.37
부산,Busan,3413654.6,127673.0,130148,126230,128725,127673,113558,107.0,107.0,...,48808,55506,60502,54914,53334,43.08,43.67,44.25,44.82,45.33
대구,Daegu,2435757.8,79489.0,82281,79489,82905,79182,72339,70.0,71.0,...,31365,35280,40092,37398,36956,41.42,41.97,42.59,43.22,43.82
인천,Incheon,2950282.6,96340.0,101526,94605,101289,96340,85432,84.0,84.0,...,79170,88489,100174,99212,100379,40.22,40.80,41.39,42.02,42.62
광주,Gwangju,1454249.4,51223.0,54627,51223,52827,49869,44610,45.0,45.0,...,26052,29833,33286,30573,30497,39.37,39.93,40.51,41.10,41.65
대전,Daejeon,1476633.2,47929.0,50357,48184,47929,46960,41921,33.0,33.0,...,20534,22858,25147,22928,23263,39.78,40.40,41.01,41.62,42.20
울산,Ulsan,1145276.6,25323.0,26558,25323,25814,24911,23463,34.0,34.0,...,26601,27162,28604,26895,25388,39.26,39.90,40.58,41.26,41.98
세종,Sejongsi,332505.4,6147.0,5023,5331,6300,6651,6147,1.0,1.0,...,5290,6486,7829,7244,6991,36.72,36.63,36.81,37.17,37.56
경기,Gyeonggi-do,13236635.6,429953.0,459893,429953,433498,429487,388004,371.0,373.0,...,497089,558197,594795,583462,571204,39.56,40.07,40.61,41.14,41.65
강원,Gangwon-do,1543205.6,52495.0,58900,52495,53289,51544,45398,122.0,122.0,...,20996,24149,27008,24654,24582,43.82,44.43,45.04,45.66,46.21
충북,Chungcheongbuk-do,1598391.0,53659.0,56944,53659,53801,51645,47020,90.0,90.0,...,48237,54835,59783,57094,56631,42.14,42.68,43.24,43.83,44.42
충남,Chungcheongnam-do,2121409.4,73772.0,73772,75405,73817,71847,63290,136.0,137.0,...,84752,95838,104018,99166,98612,42.32,42.79,43.33,43.93,44.52
전북,Jeollabuk-do,1820263.0,56353.0,57238,56353,58012,56210,52587,178.0,178.0,...,33764,39131,43960,42366,41047,43.38,44.00,44.64,45.30,45.91
전남,Jeollanam-do,1866498.2,65932.0,64618,65932,68566,67448,60205,226.0,226.0,...,37212,42520,47778,45236,44159,44.79,45.34,45.93,46.54,47.15
경북,Gyeongsangbuk-do,2660080.8,85371.0,89049,85371,88098,83790,75300,255.0,256.0,...,63978,74071,81840,74547,72798,44.11,44.69,45.32,45.98,46.62
경남,Gyeongsangnam-do,3354268.8,123406.0,127294,117243,123992,123406,111102,193.0,193.0,...,91072,97494,105908,96669,91836,41.67,42.24,42.87,43.55,44.23
제주,Jeju-do,669331.4,29296.0,34177,30106,28318,29296,26499,27.0,28.0,...,20400,25287,28017,26831,25210,40.74,41.12,41.62,42.16,42.63

# 공원 개수

In [92]:
park_df = pd.read_csv('./전국도시공원정보표준데이터.csv', encoding='euc-kr')

park_df2 = park_df.copy()
park_total = park_df2['제공기관명']
# 결측값 확인
park_total.isna().sum()

# 문자열로 형변환
park_loc = list(park_total)

# 앞에 3글자만 가져옴
for i in range(len(park_loc) - 1)  :
    park_loc[i] = str(park_loc[i])[:3]
len(park_loc)

18304

In [93]:
# 전체 변수 초기화
gyeonggi_park = 0
gangwon_park = 0
seoul_park = 0
busan_park = 0
daegu_park = 0
incheon_park = 0
dajeon_park = 0
ulsan_park = 0
sejong_park = 0
Chungcheongbuk_park = 0
Chungcheongnam_park = 0
Jeollabuk_park = 0
Jeollanam_park = 0
Gyeongsangbuk_park = 0
Gyeongsangnam_park = 0
jeju_park = 0
gwangju_park = 0
# count 되지 않는 값 확인
error_park = []

# 공원 변수에 count
for i in range(len(park_loc) - 1) :
    if park_loc[i] == '경기도' :
        gyeonggi_park += 1
    elif park_loc[i] == '강원도' or park_loc[i] == '강원특' :
        gangwon_park += 1
    elif park_loc[i] == '서울특' :
        seoul_park += 1
    elif park_loc[i] == '부산광' or park_loc[i] == '기장군' or park_loc[i] == '부산관' :
        busan_park += 1
    elif park_loc[i] == '대구광' :
        daegu_park += 1
    elif park_loc[i] == '인천광' or park_loc[i] == '인천시' :
        incheon_park += 1
    elif park_loc[i] == '대전광' :
        dajeon_park += 1
    elif park_loc[i] == '울산광' or park_loc[i] == '울산시' :
        ulsan_park += 1
    elif park_loc[i] == '세종특' :
        sejong_park += 1
    elif park_loc[i] == '충청북' :
        Chungcheongbuk_park += 1
    elif park_loc[i] == '충청남' :
        Chungcheongnam_park += 1
    elif park_loc[i] == '전라북' :
        Jeollabuk_park += 1
    elif park_loc[i] == '전라남' :
        Jeollanam_park += 1
    elif park_loc[i] == '경상북' :
        Gyeongsangbuk_park += 1
    elif park_loc[i] == '경상남' :
        Gyeongsangnam_park += 1
    elif park_loc[i] == '제주특' :
        jeju_park += 1
    elif park_loc[i] == '광주광' :
        gwangju_park += 1
    else :
        error_park.append(park_loc[i])
error_park

[]

In [94]:
# 가져온 지역 별 공원 수를 리스트에 저장
total_park = [seoul_park, busan_park, daegu_park, incheon_park, gwangju_park, dajeon_park, ulsan_park, 
              sejong_park, gyeonggi_park, gangwon_park, Chungcheongbuk_park, Chungcheongnam_park,
              Jeollabuk_park, Jeollanam_park, Gyeongsangbuk_park, Gyeongsangnam_park, jeju_park]
total_park

[1938,
 693,
 641,
 728,
 889,
 454,
 469,
 70,
 4439,
 1288,
 789,
 1699,
 674,
 1040,
 1017,
 1223,
 252]

In [95]:
crime_df.insert(24, '공원 수', total_park)

In [96]:
crime_df

,지역(영어),총인구수,중앙값,2017,2018,2019,2020,2021,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소",...,2018_외국인,2019_외국인,2020_외국인,2021_외국인,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령,공원 수
지역,,,,,,,,,,,,,,,,,,,,,
서울,Seoul,9706015.8,340504.0,352471,341288,340504,318320,274830,270.0,271.0,...,374425,390177,366454,347080,41.42,41.94,42.44,42.93,43.37,1938
부산,Busan,3413654.6,127673.0,130148,126230,128725,127673,113558,107.0,107.0,...,55506,60502,54914,53334,43.08,43.67,44.25,44.82,45.33,693
대구,Daegu,2435757.8,79489.0,82281,79489,82905,79182,72339,70.0,71.0,...,35280,40092,37398,36956,41.42,41.97,42.59,43.22,43.82,641
인천,Incheon,2950282.6,96340.0,101526,94605,101289,96340,85432,84.0,84.0,...,88489,100174,99212,100379,40.22,40.80,41.39,42.02,42.62,728
광주,Gwangju,1454249.4,51223.0,54627,51223,52827,49869,44610,45.0,45.0,...,29833,33286,30573,30497,39.37,39.93,40.51,41.10,41.65,889
대전,Daejeon,1476633.2,47929.0,50357,48184,47929,46960,41921,33.0,33.0,...,22858,25147,22928,23263,39.78,40.40,41.01,41.62,42.20,454
울산,Ulsan,1145276.6,25323.0,26558,25323,25814,24911,23463,34.0,34.0,...,27162,28604,26895,25388,39.26,39.90,40.58,41.26,41.98,469
세종,Sejongsi,332505.4,6147.0,5023,5331,6300,6651,6147,1.0,1.0,...,6486,7829,7244,6991,36.72,36.63,36.81,37.17,37.56,70
경기,Gyeonggi-do,13236635.6,429953.0,459893,429953,433498,429487,388004,371.0,373.0,...,558197,594795,583462,571204,39.56,40.07,40.61,41.14,41.65,4439
강원,Gangwon-do,1543205.6,52495.0,58900,52495,53289,51544,45398,122.0,122.0,...,24149,27008,24654,24582,43.82,44.43,45.04,45.66,46.21,1288
충북,Chungcheongbuk-do,1598391.0,53659.0,56944,53659,53801,51645,47020,90.0,90.0,...,54835,59783,57094,56631,42.14,42.68,43.24,43.83,44.42,789
충남,Chungcheongnam-do,2121409.4,73772.0,73772,75405,73817,71847,63290,136.0,137.0,...,95838,104018,99166,98612,42.32,42.79,43.33,43.93,44.52,1699
전북,Jeollabuk-do,1820263.0,56353.0,57238,56353,58012,56210,52587,178.0,178.0,...,39131,43960,42366,41047,43.38,44.00,44.64,45.30,45.91,674
전남,Jeollanam-do,1866498.2,65932.0,64618,65932,68566,67448,60205,226.0,226.0,...,42520,47778,45236,44159,44.79,45.34,45.93,46.54,47.15,1040
경북,Gyeongsangbuk-do,2660080.8,85371.0,89049,85371,88098,83790,75300,255.0,256.0,...,74071,81840,74547,72798,44.11,44.69,45.32,45.98,46.62,1017
경남,Gyeongsangnam-do,3354268.8,123406.0,127294,117243,123992,123406,111102,193.0,193.0,...,97494,105908,96669,91836,41.67,42.24,42.87,43.55,44.23,1223
제주,Jeju-do,669331.4,29296.0,34177,30106,28318,29296,26499,27.0,28.0,...,25287,28017,26831,25210,40.74,41.12,41.62,42.16,42.63,252

In [97]:
crime_df.insert(24, '가로등 수', total_lamp)

In [98]:
crime_df

,지역(영어),총인구수,중앙값,2017,2018,2019,2020,2021,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소",...,2019_외국인,2020_외국인,2021_외국인,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령,가로등 수,공원 수
지역,,,,,,,,,,,,,,,,,,,,,
서울,Seoul,9706015.8,340504.0,352471,341288,340504,318320,274830,270.0,271.0,...,390177,366454,347080,41.42,41.94,42.44,42.93,43.37,571822,1938
부산,Busan,3413654.6,127673.0,130148,126230,128725,127673,113558,107.0,107.0,...,60502,54914,53334,43.08,43.67,44.25,44.82,45.33,111357,693
대구,Daegu,2435757.8,79489.0,82281,79489,82905,79182,72339,70.0,71.0,...,40092,37398,36956,41.42,41.97,42.59,43.22,43.82,59757,641
인천,Incheon,2950282.6,96340.0,101526,94605,101289,96340,85432,84.0,84.0,...,100174,99212,100379,40.22,40.80,41.39,42.02,42.62,131680,728
광주,Gwangju,1454249.4,51223.0,54627,51223,52827,49869,44610,45.0,45.0,...,33286,30573,30497,39.37,39.93,40.51,41.10,41.65,46746,889
대전,Daejeon,1476633.2,47929.0,50357,48184,47929,46960,41921,33.0,33.0,...,25147,22928,23263,39.78,40.40,41.01,41.62,42.20,43082,454
울산,Ulsan,1145276.6,25323.0,26558,25323,25814,24911,23463,34.0,34.0,...,28604,26895,25388,39.26,39.90,40.58,41.26,41.98,41395,469
세종,Sejongsi,332505.4,6147.0,5023,5331,6300,6651,6147,1.0,1.0,...,7829,7244,6991,36.72,36.63,36.81,37.17,37.56,15460,70
경기,Gyeonggi-do,13236635.6,429953.0,459893,429953,433498,429487,388004,371.0,373.0,...,594795,583462,571204,39.56,40.07,40.61,41.14,41.65,380268,4439
강원,Gangwon-do,1543205.6,52495.0,58900,52495,53289,51544,45398,122.0,122.0,...,27008,24654,24582,43.82,44.43,45.04,45.66,46.21,98482,1288
충북,Chungcheongbuk-do,1598391.0,53659.0,56944,53659,53801,51645,47020,90.0,90.0,...,59783,57094,56631,42.14,42.68,43.24,43.83,44.42,94175,789
충남,Chungcheongnam-do,2121409.4,73772.0,73772,75405,73817,71847,63290,136.0,137.0,...,104018,99166,98612,42.32,42.79,43.33,43.93,44.52,118201,1699
전북,Jeollabuk-do,1820263.0,56353.0,57238,56353,58012,56210,52587,178.0,178.0,...,43960,42366,41047,43.38,44.00,44.64,45.30,45.91,114705,674
전남,Jeollanam-do,1866498.2,65932.0,64618,65932,68566,67448,60205,226.0,226.0,...,47778,45236,44159,44.79,45.34,45.93,46.54,47.15,165649,1040
경북,Gyeongsangbuk-do,2660080.8,85371.0,89049,85371,88098,83790,75300,255.0,256.0,...,81840,74547,72798,44.11,44.69,45.32,45.98,46.62,147764,1017
경남,Gyeongsangnam-do,3354268.8,123406.0,127294,117243,123992,123406,111102,193.0,193.0,...,105908,96669,91836,41.67,42.24,42.87,43.55,44.23,145133,1223
제주,Jeju-do,669331.4,29296.0,34177,30106,28318,29296,26499,27.0,28.0,...,28017,26831,25210,40.74,41.12,41.62,42.16,42.63,34683,252

# 전국 편의점 개수

In [99]:
# 시간상 전체 주석 처리(코드 시연할때만 사용)
# 5분 가량 소요
# xml url을 불러와서 주소값만 추출
address = []
serviceKey = 'DEXLBUE5-DEXL-DEXL-DEXL-DEXLBUE508'
for page_no in tqdm(range(1, 892)) :
    url = f'https://www.safemap.go.kr/openApiService/data/getConvenienceStoreData.do?serviceKey={serviceKey}&pageNo={page_no}&numOfRows=50&dataType=XML&Fclty_Cd=509010'
    request = requests.get(url).text
    source = BeautifulSoup(request, features="xml")
    txt = source.find_all('ADRES')
    for i in txt :
        address.append(i.get_text)
len(address)

  0%|          | 0/891 [00:00<?, ?it/s]

44504

In [100]:
# # 만약의 상황을 대비해 xlsx 파일로 저장
# pd.DataFrame(address).to_excel('전국 편의점 주소.xlsx')

In [101]:
# address = pd.read_excel('./전국 편의점 주소.xlsx')

# address = list(address[0])

In [102]:
# 주소 데이터 중 앞 3글자만 가져옴
for i in range(len(address)) :
    address[i] = str(address[i])[45:48]
address

['강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 ...]

In [103]:
# 전체 변수 초기화
gyeonggi_store = 0
gangwon_store = 0
seoul_store = 0
busan_store = 0
daegu_store = 0
incheon_store = 0
dajeon_store = 0
ulsan_store = 0
sejong_store = 0
Chungcheongbuk_store = 0
Chungcheongnam_store = 0
Jeollabuk_store = 0
Jeollanam_store = 0
Gyeongsangbuk_store = 0
Gyeongsangnam_store = 0
jeju_store = 0
gwangju_store = 0
# count 되지 않는 값 확인
error_store = []

for i in address :
    if i == '경기도' :
        gyeonggi_store += 1
    elif i == '강원도' :
        gangwon_store += 1
    elif i == '서울특' :
        seoul_store += 1
    elif i == '부산광' :
        busan_store += 1
    elif i == '대구광' :
        daegu_store += 1
    elif i == '인천광' :
        incheon_store += 1
    elif i == '대전광' :
        dajeon_store += 1
    elif i == '울산광' :
        ulsan_store += 1
    elif i == '세종특' :
        sejong_store += 1
    elif i == '충청북' :
        Chungcheongbuk_store += 1
    elif i == '충청남' :
        Chungcheongnam_store += 1
    elif i == '전라북' :
        Jeollabuk_store += 1
    elif i == '전라남' :
        Jeollanam_store += 1
    elif i == '경상북' :
        Gyeongsangbuk_store += 1
    elif i == '경상남' :
        Gyeongsangnam_store += 1
    elif i == '제주특' :
        jeju_store += 1
    elif i == '광주광' :
        gwangju_store += 1
    else :
        error_store.append(i)
error_store

[]

In [104]:
total_store = [seoul_store, busan_store, daegu_store, incheon_store, gwangju_store, dajeon_store, ulsan_store, 
              sejong_store, gyeonggi_store, gangwon_store, Chungcheongbuk_store, Chungcheongnam_store,
              Jeollabuk_store, Jeollanam_store, Gyeongsangbuk_store, Gyeongsangnam_store, jeju_store]
total_store

[6965,
 2488,
 1573,
 2337,
 1070,
 1161,
 911,
 249,
 11925,
 2126,
 1734,
 2411,
 1614,
 1569,
 2201,
 2913,
 1257]

In [105]:
crime_df.insert(25, '편의점 수', total_store)

In [106]:
crime_df

,지역(영어),총인구수,중앙값,2017,2018,2019,2020,2021,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소",...,2020_외국인,2021_외국인,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령,가로등 수,편의점 수,공원 수
지역,,,,,,,,,,,,,,,,,,,,,
서울,Seoul,9706015.8,340504.0,352471,341288,340504,318320,274830,270.0,271.0,...,366454,347080,41.42,41.94,42.44,42.93,43.37,571822,6965,1938
부산,Busan,3413654.6,127673.0,130148,126230,128725,127673,113558,107.0,107.0,...,54914,53334,43.08,43.67,44.25,44.82,45.33,111357,2488,693
대구,Daegu,2435757.8,79489.0,82281,79489,82905,79182,72339,70.0,71.0,...,37398,36956,41.42,41.97,42.59,43.22,43.82,59757,1573,641
인천,Incheon,2950282.6,96340.0,101526,94605,101289,96340,85432,84.0,84.0,...,99212,100379,40.22,40.80,41.39,42.02,42.62,131680,2337,728
광주,Gwangju,1454249.4,51223.0,54627,51223,52827,49869,44610,45.0,45.0,...,30573,30497,39.37,39.93,40.51,41.10,41.65,46746,1070,889
대전,Daejeon,1476633.2,47929.0,50357,48184,47929,46960,41921,33.0,33.0,...,22928,23263,39.78,40.40,41.01,41.62,42.20,43082,1161,454
울산,Ulsan,1145276.6,25323.0,26558,25323,25814,24911,23463,34.0,34.0,...,26895,25388,39.26,39.90,40.58,41.26,41.98,41395,911,469
세종,Sejongsi,332505.4,6147.0,5023,5331,6300,6651,6147,1.0,1.0,...,7244,6991,36.72,36.63,36.81,37.17,37.56,15460,249,70
경기,Gyeonggi-do,13236635.6,429953.0,459893,429953,433498,429487,388004,371.0,373.0,...,583462,571204,39.56,40.07,40.61,41.14,41.65,380268,11925,4439
강원,Gangwon-do,1543205.6,52495.0,58900,52495,53289,51544,45398,122.0,122.0,...,24654,24582,43.82,44.43,45.04,45.66,46.21,98482,2126,1288
충북,Chungcheongbuk-do,1598391.0,53659.0,56944,53659,53801,51645,47020,90.0,90.0,...,57094,56631,42.14,42.68,43.24,43.83,44.42,94175,1734,789
충남,Chungcheongnam-do,2121409.4,73772.0,73772,75405,73817,71847,63290,136.0,137.0,...,99166,98612,42.32,42.79,43.33,43.93,44.52,118201,2411,1699
전북,Jeollabuk-do,1820263.0,56353.0,57238,56353,58012,56210,52587,178.0,178.0,...,42366,41047,43.38,44.00,44.64,45.30,45.91,114705,1614,674
전남,Jeollanam-do,1866498.2,65932.0,64618,65932,68566,67448,60205,226.0,226.0,...,45236,44159,44.79,45.34,45.93,46.54,47.15,165649,1569,1040
경북,Gyeongsangbuk-do,2660080.8,85371.0,89049,85371,88098,83790,75300,255.0,256.0,...,74547,72798,44.11,44.69,45.32,45.98,46.62,147764,2201,1017
경남,Gyeongsangnam-do,3354268.8,123406.0,127294,117243,123992,123406,111102,193.0,193.0,...,96669,91836,41.67,42.24,42.87,43.55,44.23,145133,2913,1223
제주,Jeju-do,669331.4,29296.0,34177,30106,28318,29296,26499,27.0,28.0,...,26831,25210,40.74,41.12,41.62,42.16,42.63,34683,1257,252

# 전국 코인노래방 개수

In [107]:
karaoke_df = pd.read_excel('./코인,동전노래방_시도별.xlsx')

# 원본 손상 방지를 위해 copy
karaoke_df2 = karaoke_df.copy()
karaoke_df2

    지역   개수
0   강원   91
1   경기  691
2   경남   88
3   경북   89
4   광주   69
5   대구   37
6   대전   78
7   부산   94
8   서울  525
9   세종   14
10  울산   26
11  인천  138
12  전남   65
13  전북   92
14  제주   37
15  충남  113
16  충북   91

In [108]:
karaoke_df2 = karaoke_df2.set_index(['지역'])
# 행 순서 변경
karaoke_df2 = karaoke_df2.reindex(['서울', '부산', '대구', '인천', '광주', '대전', 
                                   '울산', '세종', '경기', '강원', '충북', '충남', '전북', 
                                   '전남', '경북', '경남', '제주'])
karaoke_df2

     개수
지역
서울  525
부산   94
대구   37
인천  138
광주   69
대전   78
울산   26
세종   14
경기  691
강원   91
충북   91
충남  113
전북   92
전남   65
경북   89
경남   88
제주   37

In [109]:
crime_df.insert(26, '코인노래방 수', karaoke_df2['개수'])
crime_df

,지역(영어),총인구수,중앙값,2017,2018,2019,2020,2021,"17년도 경찰서,지구대,파출소","18년도 경찰서,지구대,파출소",...,2021_외국인,2017년_평균연령,2018년_평균연령,2019년_평균연령,2020년_평균연령,2021년_평균연령,가로등 수,편의점 수,코인노래방 수,공원 수
지역,,,,,,,,,,,,,,,,,,,,,
서울,Seoul,9706015.8,340504.0,352471,341288,340504,318320,274830,270.0,271.0,...,347080,41.42,41.94,42.44,42.93,43.37,571822,6965,525,1938
부산,Busan,3413654.6,127673.0,130148,126230,128725,127673,113558,107.0,107.0,...,53334,43.08,43.67,44.25,44.82,45.33,111357,2488,94,693
대구,Daegu,2435757.8,79489.0,82281,79489,82905,79182,72339,70.0,71.0,...,36956,41.42,41.97,42.59,43.22,43.82,59757,1573,37,641
인천,Incheon,2950282.6,96340.0,101526,94605,101289,96340,85432,84.0,84.0,...,100379,40.22,40.80,41.39,42.02,42.62,131680,2337,138,728
광주,Gwangju,1454249.4,51223.0,54627,51223,52827,49869,44610,45.0,45.0,...,30497,39.37,39.93,40.51,41.10,41.65,46746,1070,69,889
대전,Daejeon,1476633.2,47929.0,50357,48184,47929,46960,41921,33.0,33.0,...,23263,39.78,40.40,41.01,41.62,42.20,43082,1161,78,454
울산,Ulsan,1145276.6,25323.0,26558,25323,25814,24911,23463,34.0,34.0,...,25388,39.26,39.90,40.58,41.26,41.98,41395,911,26,469
세종,Sejongsi,332505.4,6147.0,5023,5331,6300,6651,6147,1.0,1.0,...,6991,36.72,36.63,36.81,37.17,37.56,15460,249,14,70
경기,Gyeonggi-do,13236635.6,429953.0,459893,429953,433498,429487,388004,371.0,373.0,...,571204,39.56,40.07,40.61,41.14,41.65,380268,11925,691,4439
강원,Gangwon-do,1543205.6,52495.0,58900,52495,53289,51544,45398,122.0,122.0,...,24582,43.82,44.43,45.04,45.66,46.21,98482,2126,91,1288
충북,Chungcheongbuk-do,1598391.0,53659.0,56944,53659,53801,51645,47020,90.0,90.0,...,56631,42.14,42.68,43.24,43.83,44.42,94175,1734,91,789
충남,Chungcheongnam-do,2121409.4,73772.0,73772,75405,73817,71847,63290,136.0,137.0,...,98612,42.32,42.79,43.33,43.93,44.52,118201,2411,113,1699
전북,Jeollabuk-do,1820263.0,56353.0,57238,56353,58012,56210,52587,178.0,178.0,...,41047,43.38,44.00,44.64,45.30,45.91,114705,1614,92,674
전남,Jeollanam-do,1866498.2,65932.0,64618,65932,68566,67448,60205,226.0,226.0,...,44159,44.79,45.34,45.93,46.54,47.15,165649,1569,65,1040
경북,Gyeongsangbuk-do,2660080.8,85371.0,89049,85371,88098,83790,75300,255.0,256.0,...,72798,44.11,44.69,45.32,45.98,46.62,147764,2201,89,1017
경남,Gyeongsangnam-do,3354268.8,123406.0,127294,117243,123992,123406,111102,193.0,193.0,...,91836,41.67,42.24,42.87,43.55,44.23,145133,2913,88,1223
제주,Jeju-do,669331.4,29296.0,34177,30106,28318,29296,26499,27.0,28.0,...,25210,40.74,41.12,41.62,42.16,42.63,34683,1257,37,252

In [110]:
crime_df['2017_외국인']=crime_df['2017_외국인'].astype('float64')
crime_df['2018_외국인']=crime_df['2017_외국인'].astype('float64')
crime_df['2019_외국인']=crime_df['2017_외국인'].astype('float64')
crime_df['2020_외국인']=crime_df['2017_외국인'].astype('float64')
crime_df['2021_외국인']=crime_df['2017_외국인'].astype('float64')

crime_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17 entries, 서울 to 제주
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   지역(영어)             17 non-null     object
 1   총인구수               17 non-null     float64
 2   중앙값                17 non-null     float64
 3   2017               17 non-null     int64
 4   2018               17 non-null     int64
 5   2019               17 non-null     int64
 6   2020               17 non-null     int64
 7   2021               17 non-null     int64
 8   17년도 경찰서,지구대,파출소   17 non-null     float64
 9   18년도 경찰서,지구대,파출소   17 non-null     float64
 10  19년도 경찰서,지구대,파출소   17 non-null     float64
 11  20년도 경찰서,지구대,파출소   17 non-null     float64
 12  21년도 경찰서,지구대,파출소   17 non-null     float64
 13  CCTV 설치/운영 대수 (대)  17 non-null     int64
 14  2017_외국인           17 non-null     float64
 15  2018_외국인           17 non-null     float64
 16  2019_외국인           17 non-null     float64
 17  2020_외국인           17 non-null     float64
 18  2021_외국인           17 non-null     float64
 19  2017년_평균연령         17 non-null     float64
 20  2018년_평균연령         17 non-null     float64
 21  2019년_평균연령         17 non-null     float64
 22  2020년_평균연령         17 non-null     float64
 23  2021년_평균연령         17 non-null     float64
 24  가로등 수              17 non-null     int64
 25  편의점 수              17 non-null     int64
 26  코인노래방 수            17 non-null     int64
 27  공원 수               17 non-null     int64
dtypes: float64(17), int64(10), object(1)
memory usage: 4.4+ KB

In [111]:
# 상관분석을 위해 데이터프레임 복사
crime_df1 = crime_df.copy()
# 2017~2021 까지의 총 범죄수 및 여러 요인의 평균 값 계산
crime_df1['총 범죄 수'] = crime_df1.loc[:,'2017':'2021'].sum(axis=1)
crime_df1['평균 치안센터 수'] = crime_df1.loc[:,'17년도 경찰서,지구대,파출소':'21년도 경찰서,지구대,파출소'].mean(axis=1)
crime_df1['평균 외국인 수'] = crime_df1.loc[:,'2017_외국인':'2021_외국인'].mean(axis=1)
crime_df1['평균연령'] = crime_df1.loc[:,'2017년_평균연령':'2021년_평균연령'].mean(axis=1)
crime_df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17 entries, 서울 to 제주
Data columns (total 32 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   지역(영어)             17 non-null     object
 1   총인구수               17 non-null     float64
 2   중앙값                17 non-null     float64
 3   2017               17 non-null     int64
 4   2018               17 non-null     int64
 5   2019               17 non-null     int64
 6   2020               17 non-null     int64
 7   2021               17 non-null     int64
 8   17년도 경찰서,지구대,파출소   17 non-null     float64
 9   18년도 경찰서,지구대,파출소   17 non-null     float64
 10  19년도 경찰서,지구대,파출소   17 non-null     float64
 11  20년도 경찰서,지구대,파출소   17 non-null     float64
 12  21년도 경찰서,지구대,파출소   17 non-null     float64
 13  CCTV 설치/운영 대수 (대)  17 non-null     int64
 14  2017_외국인           17 non-null     float64
 15  2018_외국인           17 non-null     float64
 16  2019_외국인           17 non-null     float64
 17  2020_외국인           17 non-null     float64
 18  2021_외국인           17 non-null     float64
 19  2017년_평균연령         17 non-null     float64
 20  2018년_평균연령         17 non-null     float64
 21  2019년_평균연령         17 non-null     float64
 22  2020년_평균연령         17 non-null     float64
 23  2021년_평균연령         17 non-null     float64
 24  가로등 수              17 non-null     int64
 25  편의점 수              17 non-null     int64
 26  코인노래방 수            17 non-null     int64
 27  공원 수               17 non-null     int64
 28  총 범죄 수             17 non-null     int64
 29  평균 치안센터 수          17 non-null     float64
 30  평균 외국인 수           17 non-null     float64
 31  평균연령               17 non-null     float64
dtypes: float64(20), int64(11), object(1)
memory usage: 4.9+ KB

In [112]:
# 인구 수 비례 여러 요인들의 상대적 크기 비교
crime_df1.insert(0, '인구 100명당 cctv 설치/운영 대수(대)',(crime_df1['CCTV 설치/운영 대수 (대)'] / crime_df1['총인구수'] * 100))
crime_df1.insert(0, '인구 100명당 총 범죄 수',(crime_df1['총 범죄 수'] / crime_df1['총인구수'] * 100))
crime_df1.insert(0, '인구 100명당 평균 치안센터 수',(crime_df1['평균 치안센터 수'] / crime_df1['총인구수'] * 100))
crime_df1.insert(0, '인구 100명당 평균 외국인 수',(crime_df1['평균 외국인 수'] / crime_df1['총인구수'] * 100))
crime_df1.insert(0, '인구 100명당 가로등 수',(crime_df1['가로등 수'] / crime_df1['총인구수'] * 100))
crime_df1.insert(0, '인구 100명당 공원 수',(crime_df1['공원 수'] / crime_df1['총인구수'] * 100))
crime_df1.insert(0, '인구 100명당 편의점 수',(crime_df1['편의점 수'] / crime_df1['총인구수'] * 100))
crime_df1.insert(0, '인구 100명당 코인노래방 수',(crime_df1['코인노래방 수'] / crime_df1['총인구수'] * 100))
crime_df1 = crime_df1.drop('총인구수', axis=1)
crime_df1

,인구 100명당 코인노래방 수,인구 100명당 편의점 수,인구 100명당 공원 수,인구 100명당 가로등 수,인구 100명당 평균 외국인 수,인구 100명당 평균 치안센터 수,인구 100명당 총 범죄 수,인구 100명당 cctv 설치/운영 대수(대),지역(영어),중앙값,...,2020년_평균연령,2021년_평균연령,가로등 수,편의점 수,코인노래방 수,공원 수,총 범죄 수,평균 치안센터 수,평균 외국인 수,평균연령
지역,,,,,,,,,,,,,,,,,,,,,
서울,0.005409,0.071760,0.019967,5.891418,3.543442,0.002798,16.767055,18.708469,Seoul,340504.0,...,42.93,43.37,571822,6965,525,1938,1627413,271.6,343927.0,42.420
부산,0.002754,0.072884,0.020301,3.262105,1.429787,0.003170,18.347902,7.091696,Busan,127673.0,...,44.82,45.33,111357,2488,94,693,626334,108.2,48808.0,44.230
대구,0.001519,0.064579,0.026316,2.453323,1.287690,0.002931,16.265821,25.315982,Daegu,79489.0,...,43.22,43.82,59757,1573,37,641,396196,71.4,31365.0,42.604
인천,0.004678,0.079213,0.024676,4.463301,2.683472,0.002868,16.242241,11.350167,Incheon,96340.0,...,42.02,42.62,131680,2337,138,728,479192,84.6,79170.0,41.410
광주,0.004745,0.073577,0.061131,3.214442,1.791440,0.003094,17.408018,19.472588,Gwangju,51223.0,...,41.10,41.65,46746,1070,69,889,253156,45.0,26052.0,40.512
대전,0.005282,0.078625,0.030746,2.917583,1.390596,0.002343,15.938352,15.087904,Daejeon,47929.0,...,41.62,42.20,43082,1161,78,454,235351,34.6,20534.0,41.002
울산,0.002270,0.079544,0.040951,3.614411,2.322670,0.002986,11.007734,10.333748,Ulsan,25323.0,...,41.26,41.98,41395,911,26,469,126069,34.2,26601.0,40.596
세종,0.004210,0.074886,0.021052,4.649549,1.590952,0.001925,8.857601,52.472531,Sejongsi,6147.0,...,37.17,37.56,15460,249,14,70,29452,6.4,5290.0,36.978
경기,0.005220,0.090091,0.033536,2.872845,3.755403,0.002863,16.173558,14.640994,Gyeonggi-do,429953.0,...,41.14,41.65,380268,11925,691,4439,2140835,379.0,497089.0,40.606
강원,0.005897,0.137765,0.083463,6.381651,1.360545,0.007906,16.953412,18.078796,Gangwon-do,52495.0,...,45.66,46.21,98482,2126,91,1288,261626,122.0,20996.0,45.032
충북,0.005693,0.108484,0.049362,5.891863,3.017847,0.005668,16.458363,15.309083,Chungcheongbuk-do,53659.0,...,43.83,44.42,94175,1734,91,789,263069,90.6,48237.0,43.262
충남,0.005327,0.113651,0.080088,5.571815,3.995080,0.006326,16.881749,12.588659,Chungcheongnam-do,73772.0,...,43.93,44.52,118201,2411,113,1699,358131,134.2,84752.0,43.378
전북,0.005054,0.088669,0.037028,6.301562,1.854897,0.009812,15.404367,11.722921,Jeollabuk-do,56353.0,...,45.30,45.91,114705,1614,92,674,280400,178.6,33764.0,44.646
전남,0.003482,0.084061,0.055719,8.874855,1.993680,0.012140,17.507062,14.615069,Jeollanam-do,65932.0,...,46.54,47.15,165649,1569,65,1040,326769,226.6,37212.0,45.950
경북,0.003346,0.082742,0.038232,5.554869,2.405115,0.009654,15.849443,13.168886,Gyeongsangbuk-do,85371.0,...,45.98,46.62,147764,2201,89,1017,421608,256.8,63978.0,45.344
경남,0.002624,0.086845,0.036461,4.326815,2.715107,0.005825,17.978195,19.418837,Gyeongsangnam-do,123406.0,...,43.55,44.23,145133,2913,88,1223,603037,195.4,91072.0,42.912
제주,0.005528,0.187799,0.037650,5.181738,3.047818,0.004243,22.170781,7.712472,Jeju-do,29296.0,...,42.16,42.63,34683,1257,37,252,148396,28.4,20400.0,41.654

In [113]:
crime_df1 = crime_df1.drop(columns= crime_df1.iloc[:, 9:-1])
crime_df1

,인구 100명당 코인노래방 수,인구 100명당 편의점 수,인구 100명당 공원 수,인구 100명당 가로등 수,인구 100명당 평균 외국인 수,인구 100명당 평균 치안센터 수,인구 100명당 총 범죄 수,인구 100명당 cctv 설치/운영 대수(대),지역(영어),평균연령
지역,,,,,,,,,,
서울,0.005409,0.071760,0.019967,5.891418,3.543442,0.002798,16.767055,18.708469,Seoul,42.420
부산,0.002754,0.072884,0.020301,3.262105,1.429787,0.003170,18.347902,7.091696,Busan,44.230
대구,0.001519,0.064579,0.026316,2.453323,1.287690,0.002931,16.265821,25.315982,Daegu,42.604
인천,0.004678,0.079213,0.024676,4.463301,2.683472,0.002868,16.242241,11.350167,Incheon,41.410
광주,0.004745,0.073577,0.061131,3.214442,1.791440,0.003094,17.408018,19.472588,Gwangju,40.512
대전,0.005282,0.078625,0.030746,2.917583,1.390596,0.002343,15.938352,15.087904,Daejeon,41.002
울산,0.002270,0.079544,0.040951,3.614411,2.322670,0.002986,11.007734,10.333748,Ulsan,40.596
세종,0.004210,0.074886,0.021052,4.649549,1.590952,0.001925,8.857601,52.472531,Sejongsi,36.978
경기,0.005220,0.090091,0.033536,2.872845,3.755403,0.002863,16.173558,14.640994,Gyeonggi-do,40.606
강원,0.005897,0.137765,0.083463,6.381651,1.360545,0.007906,16.953412,18.078796,Gangwon-do,45.032
충북,0.005693,0.108484,0.049362,5.891863,3.017847,0.005668,16.458363,15.309083,Chungcheongbuk-do,43.262
충남,0.005327,0.113651,0.080088,5.571815,3.995080,0.006326,16.881749,12.588659,Chungcheongnam-do,43.378
전북,0.005054,0.088669,0.037028,6.301562,1.854897,0.009812,15.404367,11.722921,Jeollabuk-do,44.646
전남,0.003482,0.084061,0.055719,8.874855,1.993680,0.012140,17.507062,14.615069,Jeollanam-do,45.950
경북,0.003346,0.082742,0.038232,5.554869,2.405115,0.009654,15.849443,13.168886,Gyeongsangbuk-do,45.344
경남,0.002624,0.086845,0.036461,4.326815,2.715107,0.005825,17.978195,19.418837,Gyeongsangnam-do,42.912
제주,0.005528,0.187799,0.037650,5.181738,3.047818,0.004243,22.170781,7.712472,Jeju-do,41.654

In [114]:
crime_df1 = crime_df1.drop(columns={'지역(영어)'})
crime_df1

,인구 100명당 코인노래방 수,인구 100명당 편의점 수,인구 100명당 공원 수,인구 100명당 가로등 수,인구 100명당 평균 외국인 수,인구 100명당 평균 치안센터 수,인구 100명당 총 범죄 수,인구 100명당 cctv 설치/운영 대수(대),평균연령
지역,,,,,,,,,
서울,0.005409,0.071760,0.019967,5.891418,3.543442,0.002798,16.767055,18.708469,42.420
부산,0.002754,0.072884,0.020301,3.262105,1.429787,0.003170,18.347902,7.091696,44.230
대구,0.001519,0.064579,0.026316,2.453323,1.287690,0.002931,16.265821,25.315982,42.604
인천,0.004678,0.079213,0.024676,4.463301,2.683472,0.002868,16.242241,11.350167,41.410
광주,0.004745,0.073577,0.061131,3.214442,1.791440,0.003094,17.408018,19.472588,40.512
대전,0.005282,0.078625,0.030746,2.917583,1.390596,0.002343,15.938352,15.087904,41.002
울산,0.002270,0.079544,0.040951,3.614411,2.322670,0.002986,11.007734,10.333748,40.596
세종,0.004210,0.074886,0.021052,4.649549,1.590952,0.001925,8.857601,52.472531,36.978
경기,0.005220,0.090091,0.033536,2.872845,3.755403,0.002863,16.173558,14.640994,40.606
강원,0.005897,0.137765,0.083463,6.381651,1.360545,0.007906,16.953412,18.078796,45.032
충북,0.005693,0.108484,0.049362,5.891863,3.017847,0.005668,16.458363,15.309083,43.262
충남,0.005327,0.113651,0.080088,5.571815,3.995080,0.006326,16.881749,12.588659,43.378
전북,0.005054,0.088669,0.037028,6.301562,1.854897,0.009812,15.404367,11.722921,44.646
전남,0.003482,0.084061,0.055719,8.874855,1.993680,0.012140,17.507062,14.615069,45.950
경북,0.003346,0.082742,0.038232,5.554869,2.405115,0.009654,15.849443,13.168886,45.344
경남,0.002624,0.086845,0.036461,4.326815,2.715107,0.005825,17.978195,19.418837,42.912
제주,0.005528,0.187799,0.037650,5.181738,3.047818,0.004243,22.170781,7.712472,41.654

In [115]:
# 칼럼 순서 변경
crime_df1 = crime_df1[['인구 100명당 총 범죄 수', '인구 100명당 cctv 설치/운영 대수(대)', '인구 100명당 공원 수',
                       '인구 100명당 가로등 수', '인구 100명당 평균 외국인 수', '인구 100명당 평균 치안센터 수',
                       '인구 100명당 편의점 수', '인구 100명당 코인노래방 수', '평균연령']]
crime_df1

,인구 100명당 총 범죄 수,인구 100명당 cctv 설치/운영 대수(대),인구 100명당 공원 수,인구 100명당 가로등 수,인구 100명당 평균 외국인 수,인구 100명당 평균 치안센터 수,인구 100명당 편의점 수,인구 100명당 코인노래방 수,평균연령
지역,,,,,,,,,
서울,16.767055,18.708469,0.019967,5.891418,3.543442,0.002798,0.071760,0.005409,42.420
부산,18.347902,7.091696,0.020301,3.262105,1.429787,0.003170,0.072884,0.002754,44.230
대구,16.265821,25.315982,0.026316,2.453323,1.287690,0.002931,0.064579,0.001519,42.604
인천,16.242241,11.350167,0.024676,4.463301,2.683472,0.002868,0.079213,0.004678,41.410
광주,17.408018,19.472588,0.061131,3.214442,1.791440,0.003094,0.073577,0.004745,40.512
대전,15.938352,15.087904,0.030746,2.917583,1.390596,0.002343,0.078625,0.005282,41.002
울산,11.007734,10.333748,0.040951,3.614411,2.322670,0.002986,0.079544,0.002270,40.596
세종,8.857601,52.472531,0.021052,4.649549,1.590952,0.001925,0.074886,0.004210,36.978
경기,16.173558,14.640994,0.033536,2.872845,3.755403,0.002863,0.090091,0.005220,40.606
강원,16.953412,18.078796,0.083463,6.381651,1.360545,0.007906,0.137765,0.005897,45.032
충북,16.458363,15.309083,0.049362,5.891863,3.017847,0.005668,0.108484,0.005693,43.262
충남,16.881749,12.588659,0.080088,5.571815,3.995080,0.006326,0.113651,0.005327,43.378
전북,15.404367,11.722921,0.037028,6.301562,1.854897,0.009812,0.088669,0.005054,44.646
전남,17.507062,14.615069,0.055719,8.874855,1.993680,0.012140,0.084061,0.003482,45.950
경북,15.849443,13.168886,0.038232,5.554869,2.405115,0.009654,0.082742,0.003346,45.344
경남,17.978195,19.418837,0.036461,4.326815,2.715107,0.005825,0.086845,0.002624,42.912
제주,22.170781,7.712472,0.037650,5.181738,3.047818,0.004243,0.187799,0.005528,41.654